[2017-09-08 22:20] rshriram opened #1212 "Start Envoy with --service-zone"
8 21:22:32.781]    proxy/envoy/envoy  [--parent-shutdown-time-s <uint64_t>] [--drain-time-s
I0908 21:22:32.781]                       <uint64_t>] [--file-flush-interval-msec <uint64_t>]
I0908 21:22:32.781]                       [--service-zone <string>] [--service-node <string>]
I0908 21:22:32.781]                       [--service-cluster <string>] [--hot-restart-version]
I0908 21:22:32.781]

[2017-09-08 22:31] #964 closed

[2017-09-08 22:36] kyessenov commented on #1212
We don't use the flag, but can make it an option in the proxy config.

[2017-09-09 01:07] gyliu513 commented on #1189
Thanks @ayj so how can `meshconfig` handle hot reloads? I mean if it is updated during runtime, I may need to restart initializer?

[2017-09-09 01:38] kyessenov opened #1217 "Make agent consume flags, not an inline proto"

[2017-09-09 02:01] ldemailly opened #1218 "Pilot need to generate the list of pod ips for mixer for envoy"
Pilot need to generate the list of pod ips for mixer for envoy:

As far as I know envoy uses the (service) clusterIP to reach mixer, instead it should do the cluster->podIP translation we do for regular services

cc @kyessenov who says it's already there and @costinm (and I) who need it for rawvm and would avoid an ILB for mixer

putting 0.2 if it's easy/already there, otherwise early 0.3

[2017-09-09 03:13] gyliu513 commented on #1046
I think the MiniKube and GKE documentation already been covered here https://github.com/istio/pilot/pull/1192

[2017-09-09 05:53] liamawhite commented on #1212
We already use SDS to tell envoy what the local availability zone is though, right?

[2017-09-09 14:00] rshriram commented on #1212
According to this https://lyft.github.io/envoy/docs/operations/cli.html, we
need to specify local az via this option if we are providing az info in
sds.
On Sat, Sep 9, 2017 at 1:53 AM Liam White <notifications@github.com> wrote:

--

~shriram

[2017-09-09 14:01] rshriram commented on #1212
May be read this from the hosting node's az tag?
On Sat, Sep 9, 2017 at 10:00 AM Shriram Rajagopalan <rshriram@gmail.com>
wrote:

--

~shriram

[2017-09-09 15:36] costinm commented on #1212
Please don't rely on tags - on raw VMs there is no pod, so no pod tags -
unless that tags/annotations are used as part of injection.

AFAIK 'zone' is not specific to the pod config, but to where the pod is
running.
In some cases it may be possible to map zone to node/pod ip CIDRs - usually
different clusters get different subnets.

+1 on adding the flag to pilot-agent and envoy - but let's have a

[2017-09-09 22:53] #1217 closed

[2017-09-09 23:18] kyessenov commented on #1186
What is the scope of the quota name? Per service, per namespace, per cluster?

[2017-09-10 02:53] rshriram commented on #1211
fixed by #1225

[2017-09-10 02:53] #1211 closed

[2017-09-10 06:08] gyliu513 opened #1226 "pilot failed to start due to `failed to register custom resources.`"
I was deploying istio from source code of https://github.com/istio/istio/blob/master/install/kubernetes/istio.yaml

After pilot is deployed, it keeps failing due to following:

[code]

After I assign `cluster-admin` role to `default:istio-pilot-service-account`, still failed.

[code]

Can someone help check what is wrong? Thanks.

[2017-09-10 21:33] rshriram opened #1227 "use mixer_check and mixer_report flags instead of mixer_control"
We have a disable_policy_check field in the config that allows users to enable mixer for just reporting. However, Pilot does not honor this field currently. When its enabled, the opaque config generated for mixer in http should have `mixer_check: off` and `mixer_report: on`, and in the mixer filter's config [for both http and tcp], `disable_tcp_check_calls: true`.

[2017-09-10 21:36] ldemailly commented on #1226
You don't need cluster admin for pilot itself, just for the user running the istio install

Can you start from a fresh cluster or delete all crd in your cluster before you install ?
(and make sure you install the -rbac-beta file before the rest)

[2017-09-10 21:38] ldemailly commented on #1218
cc @andraxylia who was wondering what I meant on slack

[2017-09-10 21:40] ldemailly commented on #1212
can you describe the impact of the bug (what happens if we don't change anything) so we can figure out whether that needs to be fixed or not for 0.2

[2017-09-10 21:42] rshriram opened #1228 "Increase default values of refresh intervals and sync intervals"
Preliminary measurements has shown that Pilot consumes a lot of CPU, even when functioning just as an ingress controller, causing resource starvation for other components on the node. This is because each Envoy is set to refresh its config every 10ms (for each xDS). Multiplied by even 3 envoys in the system, this leads to a very high usage. Increasing the delay to 30s has resulted in much less CPU

[2017-09-10 21:52] ldemailly commented on #1227
the bug if any is the api SHA is from Aug 29 but we should stop adding new feature/requirements to 0.2 or any non critical changes

[2017-09-10 22:08] ldemailly commented on #1177
it only expends symlinks if the first check fails so maybe there is a bug in the first check

make setup works for me (and go install stage too) and is useful as it between other things put istioctl you just built into your path

try `bazel clean && rm -rf vendor/ && make setup`
and see if you still have the issue, if so reopen

[2017-09-10 22:08] #1177 closed

[2017-09-10 22:10] rshriram commented on #1212
This needs to be fixed before 0.2. We have several customers in IBM who have a single cluster spanning multiple availability zones. The AZ feature was added couple of months ago but without this flag, it will not be enabled, effectively disabling availability zone aware routing. i.e., we can't claim that istio supports availability zone aware routing.

[2017-09-10 22:14] rshriram commented on #1227
This was added in order to let people use mixer's reporting system alone while disabling policy checks - otherwise we disable mixer completely. This was discussed extensively in the design doc. We have customers who would like to take advantage of Mixer's reports but are not willing to take the latency hit caused by checks. This is a deal breaker for them.

[2017-09-10 22:22] ldemailly commented on #1212
Can you point me to any document I missed that state we have availability zones support as a p0 for 0.2 (maybe I missed it).

It sounds like a great feature to add and to support for 0.3/multi cluster.

but I don't think adding a flag to envoy is all would take to suddenly make istio zone aware (shouldn't we run a pilot and mixer in each zone at minimum etc...) and we don't have time to add tests

[2017-09-10 22:35] rshriram commented on #1212
Its not a multi-cluster feature (please read my explanation). Its for a single cluster spanning several availability zones [kubernetes has support for it already] and it just works. There is no configuration. The only missing piece is adding flag to envoy [people can manually set the availability zone per pod if they wish].

And this is not a planned feature. This is a feature that we announced we

[2017-09-10 22:39] gyliu513 commented on #1226
I want to give `istio-pilot-service-account` all of the permissions to make sure it can works.

Another question is that, from the log here I did not see any reasons, but only telling me `* failed to register custom resources. <nil>`, I do not know what to do for such cases, but only blindly update clusterrolebindings based on my experience. I think that we may need to check more for what is wrong

[2017-09-10 22:48] ldemailly commented on #1226
as I said the istio-rbac-beta.yaml covers everything pilot needs. and if it doesn't we would need to know to fix it, not apply cluster admin

can you start from a fresh cluster, indicate which kubernetes version you are using and the exact steps you took and see if you can reproduce this

[2017-09-10 22:53] gyliu513 opened #1229 "Disable InjectionPolicy by default"
[code]

The default `InjectionPolicy` is `InjectionPolicyEnabled`, which means that if I deploy an application which does not want to inject data, then I need to add annotation `sidecar.istio.io/inject: false` to disable it which might make all of the previous worked deployment files need this update to make sure it can also works with cluster once the `sidecar initializer` is enabled. This is not

[2017-09-10 23:01] ldemailly commented on #1212
I mentioned multi cluster with 0.3 only because it's the theme of the next release (beside stability, production readiness, quality, dev workflow,...) - I realize that k8s supports multiple zones within a single cluster but I don't see us having any test for that nor any of our istio document mentioning it as supported.

if the PR comes and is surgical/cosmetic and indeed just an oversight + comes

[2017-09-11 02:06] #1212 closed

[2017-09-11 02:37] kyessenov commented on #1226
This is likely due to removal of dashes from CRD names (a one-time thing). Let me know if it still happens after you clean up all CRDs.

[2017-09-11 02:37] #1226 closed

[2017-09-11 12:26] rshriram opened #1232 "Integration test coverage in 0.2.x"
The following features are not covered by Pilot's integration tests. Need to fix this in the coming weeks to improve test coverage
- [ ] Mongodb/redis filters (@rshriram)
- [x] Egress rules (@rshriram, @vadimeisenbergibm, @elevran  )
- [ ] Consul ( @GregHanson )
- [x] Eureka ( @ijsnellf )

(modified by @kyessenov)

[2017-09-11 12:30] rshriram opened #1233 "Improve code coverage to ~90%"
Our code coverage is at 70%. Need unit tests to increase code coverage to 95%.
Lets track all PRs related to this issue here.

[2017-09-11 12:36] rshriram commented on #1233
PTAL at this for details: https://codecov.io/gh/istio/pilot (ignore the test folder coverage)

[2017-09-11 14:06] rshriram opened #1234 "Client Mutual TLS support for ingress controller"
Need to support users who want to enable mutual tls in ingress controller, where the client info needs to be specified via annotations- just like standard kubernetes ingress.

[2017-09-11 14:20] rshriram commented on #1218
I don't think we should expose pod IPs outside kubernetes. For all we know, some network policy or firewall setting or even the overlay network itself could prevent all external access to the pod ip network. Your suggestion is based on the assumption that VMs and pods are on the same flat network- which may not be universally true (think of VMs being joined over vpn where only access to the ingres

[2017-09-11 16:33] ayj commented on #1189
You'll need to restart the initializer right now. It could be updated to use https://github.com/fsnotify/fsnotify to watch and reload the ConfigMap to avoid the restart.

[2017-09-11 16:35] frankbu opened #1236 "Istioctl commands should work same as equivalent kubectl commands"
Istioctl create and delete don't recognize kube kinds (i.e., non hyphenated names).
[code]

The output produced by `istioctl get` and `kubectl get` are also very different:
[code]

[2017-09-11 17:10] rshriram opened #1237 "Tracking: perf profiling for Pilot Ingress"
Use this issue to track all perf profiling aspects of Istio pilot.
Sample app: acme air (diagram below)
![pasted image at 2017_09_11 12_25 pm](https://user-images.githubusercontent.com/8202871/30287152-04011f1e-96f2-11e7-970d-ef7d0b3c2bba.png)

First tested with Istio 0.1.6. Big performance jump when refresh interval was increased from 10ms to 60s. CPU Usage still seems high (2 cores - not visible

[2017-09-11 17:46] suryadu commented on #1237
Here is the Istio Ingress Contoller CPU usage chart
![image](https://user-images.githubusercontent.com/13684010/30288689-488b28ee-96ef-11e7-84c5-b940b6d11d28.png)

[2017-09-11 17:50] kyessenov commented on #1233
Pilot functionality is difficult to test without real envoy and real kubernetes unfortunately.
Let's first devise a plan for meaningfully increase coverage before writing a mock galore.
I'd start by collective coverage metrics from e2e tests.

[2017-09-11 18:02] kyessenov commented on #1237
Ingress has entirely different performance requirements than the sidecar. Let's focus on the ingress here and not mix the two.

[2017-09-11 18:13] kyessenov commented on #1218
If the issue is to expose mixer internal pod IPs, then that's already done by Pilot. If the issue is whether or not we should use those IPs, then that's up to debate in the hybrid design, and does not belong here.

[2017-09-11 18:14] kyessenov commented on #1194
Not a good idea if external factors affect the ordering of ingresses (by modifying the resources, for example.)

[2017-09-11 18:14] #1194 closed

[2017-09-11 18:20] suryadu commented on #1237
That makes sense! I will open a separate issue for each area of Istio from performance point of view as we see performance degradation from logging, Mixer, Ingress etc.,

[2017-09-11 18:22] rshriram commented on #1237
cc @louiscryan FYI, since you were asking about this.

[2017-09-11 18:55] andraxylia opened #1239 "pilot e2e tests do not clean clusterrolebinding"
teardown deletes the namespace, but clusterrolebindings are not namespaced.

It should instead do kubectl delete rbac.yaml

[2017-09-11 19:01] kyessenov commented on #1055
headless TCP PR merged: https://github.com/istio/pilot/pull/1197

[2017-09-11 19:01] kyessenov commented on #1055
@ijsnellf can you confirm that this issue can be closed?

[2017-09-11 19:56] #1239 closed

[2017-09-11 21:34] wattli commented on #479
We will use https://github.com/istio/auth/issues/262 to track this issue since it's on Auth team.

[2017-09-12 01:49] gyliu513 commented on #1189
Got it, thanks @ayj

[2017-09-12 01:49] #1189 closed

[2017-09-12 02:12] gyliu513 commented on #1233
One question for the code coverage, every time I run `make coverage`, I can get a report as following:

[code]

It will also generate a `coverage.txt` as following:
[code]

But it does not like what we run for `kubernetes`, with `kubernetes`, I can get a HTML file which will report all of the code coverage, and I can also see the line of code which is covered by the test, but in `pilot` here, I do

[2017-09-12 02:21] kyessenov commented on #1233
If you have a Go IDE, you should be able to see coverage directly in the editor. Atom can do it, or vim-go.

[2017-09-12 02:29] gyliu513 commented on #1233
I was using eclipse as the Go IDE, can you please show me a screenshot here?

Do you mean that after I run `make coverage`, once the `coverage.txt` is generated, I will be able to check the code coverage from Go IDE?

It would be great if you can show me some concrete steps for how to check the coverage with some Go IDE. Thanks @kyessenov

[2017-09-12 02:34] kyessenov commented on #1233
Sure, here how it looks after I run `go coverage` in `vim-go`:
[Screen Shot 2017-09-11 at 7.33.42 PM.PDF](https://github.com/istio/pilot/files/1294559/Screen.Shot.2017-09-11.at.7.33.42.PM.PDF)

[2017-09-12 03:34] ldemailly opened #1246 "istioctl kube-inject broken in recent pilots"
https://github.com/istio/istio/pull/743

[code]
this is working with the previous pilot/istioctl
https://github.com/istio/pilot/commit/330dd286541d1b84c5ac1f4fc504556796c070af

there has been a lot of diff since in pilot

the strange part is the diffs I checked pass the smoketest so something is off there too

[2017-09-12 04:12] gyliu513 commented on #1229
@ayj any comments for this? Enabling the transparent injection may cause some problems for some deployment which is not planning to use istio.

[2017-09-12 04:35] ayj commented on #1246
I found a few issues:

(1) - named error return was being overwritten by `file.Close()`. This masked a failed ConfigMap() read and resulting in exit status 0 without no output being written to STDOUT.

[code]

(2) - the error value of `inject.GetMeshConfig()` was not included in the error message itself. The printed error indicated a problem with the existence of the ConfigMap. The real issue seem

[2017-09-12 04:46] ayj commented on #1246
https://github.com/istio/pilot/pull/1247 fixes (1) and (2) and identifies the root cause (3).

[2017-09-12 07:03] ldemailly commented on #1218
plesse document how to get those podips so we can save one ilb

[2017-09-12 07:05] ldemailly commented on #1246
thanks so much jason

[2017-09-12 14:37] ldemailly commented on #1246
any idea how come pilot e2e smoke test passed ?

[2017-09-12 14:51] vadimeisenbergibm commented on #1177
Resolved the issue by the following steps:

1. Removed previous go 1.6 and go 1.8 versions: `sudo apt-get remove golang-1.6` and `sudo rm -rf /usr/local/go`.
2. Installed the latest version of go -  `https://storage.googleapis.com/golang/go1.8.3.linux-amd64.tar.gz`
3. Removed vendor dir, performed `bazel clean` and removed the bazel cache `~/.cache`
4. Ran `make setup` - everything worked

@kyesse

[2017-09-12 16:47] kyessenov opened #1250 "Istio working on two different services backed by the same workload (e.g. pod)"
This seems to cause problems: service `store` with `app:store` and service `store-np` with `app:store version:v1`

[2017-09-12 19:46] kyessenov opened #1253 "Support headless services with auth"
Tracking issue to support mTLS auto-upgrade for headless services.

[2017-09-12 20:14] rshriram commented on #1253
Currently auth is automatically disabled for headless services.. see #1249

[2017-09-12 21:00] frankbu commented on #1236
The following `istioctl` commands are not working or incompatible with `kubectl`:
[code]

[2017-09-12 21:09] kyessenov commented on #1236
It seems unrealistic to match `kubectl` in feature parity. Let's focus on making the commands you listed work, but not much more beyond that.

[2017-09-12 22:40] ldemailly opened #1255 "pilot e2e smoketest didn't detect istio/istio breakage with newer pilot"
see #1246 and https://github.com/istio/istio/pull/749
https://github.com/istio/istio/pull/753
https://github.com/istio/istio/pull/733

basically the new pilot doesn't work with latest because
a) config map change (fixed in 749)
b) routing rule issue (that one maybe due in part to mixer)

but the problem is smoke test on recent pilot PR passed when they shouldn't have
(or I don't understand what it

[2017-09-12 22:40] #1227 closed

[2017-09-12 23:21] rshriram commented on #1250
Why ? These are distinct services right?

[2017-09-12 23:24] rshriram opened #1257 "Move to Envoy v2 xDS API"
Should be fully backward compatible. Lyft folks are going live with it as well. Let's use this issue to track

[2017-09-12 23:31] kyessenov commented on #1250
The two services overlap on the same pod and we generate wrong config for envoy, causing both services to fail.

[2017-09-12 23:39] sebastienvas commented on #1255
Yes we screwed up. Fix coming in.

[2017-09-12 23:42] #1255 closed

[2017-09-12 23:42] sebastienvas commented on #1255
Issue moved to [istio/istio #757](https://github.com/istio/istio/issues/757) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-12 23:51] sakshigoel12 commented on #978
@andraxylia
@kyessenov

can you or do you know who could potentially help here?

[2017-09-13 01:46] rshriram commented on #1250
one pod two services is not supported right?

On Tue, Sep 12, 2017 at 7:31 PM Kuat <notifications@github.com> wrote:

--

~shriram

[2017-09-13 02:47] frankbu commented on #1236
@kyessenov Yes, that is what I meant. I think all we need are the commands I listed above to behave the same whether you use istioctl or kubectl as the actual command.

[2017-09-13 16:57] karmab opened #1264 "cant add quotas with istioctl"
when running on top of openshift and trying to create a quota with
[code]
i get the following ERROR:
[code]

[2017-09-13 16:57] kyessenov commented on #1264
moving to the appropriate channel

[2017-09-13 16:58] #1264 closed

[2017-09-13 16:58] kyessenov commented on #1264
Issue moved to [istio/mixer #1287](https://github.com/istio/mixer/issues/1287) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-13 16:58] karmab commented on #1264
full client trace ( running with -v 10 )
[code]
server trace
[code]

[2017-09-13 18:52] kyessenov commented on #1250
Well that's a use case from openshift. You're welcome to tell that to all users :D

[2017-09-14 02:33] sebastienvas opened #1267 "Unable to read code coverage report"
Here is an example of failure https://storage.googleapis.com/istio-prow/pull/istio_pilot/1266/pilot-coverage/153/build-log.txt

[2017-09-14 03:17] #1180 closed

[2017-09-14 03:54] kyessenov commented on #1267
Coverage test needs access to a cluster.

[2017-09-14 03:56] sebastienvas commented on #1267
Really ?

[2017-09-14 03:57] sebastienvas commented on #1267
I guess we need to revert https://github.com/istio/pilot/commit/3284c3482331469ea59817a995477d40656dd21e

[2017-09-14 03:58] kyessenov commented on #1267
I see that I approved it sorry. That's my mistake, let me revert it.

[2017-09-14 08:29] gyliu513 commented on #1229
The conclusion is that we want to keep the default value as on, but need to have clear document for how to config this https://groups.google.com/forum/#!topic/istio-dev/b5PUVzjCBWI

[2017-09-14 08:29] #1229 closed

[2017-09-14 16:36] #1267 closed

[2017-09-14 18:04] kyessenov opened #1272 "ConfigMap copy issue"
In 0.1.x series of Pilot, the proxy agent generated configuration for TCP, and needed access to the core startup configuration of pilot discovery service. This resulted in a shared configuration unit (a configmap) that was meant to stay in sync between the agent and the service, as inconsistencies would likely result in inability to communicate between sidecars.

In 0.2.x series of Pilot, the situ

[2017-09-14 18:19] kyessenov opened #1273 "Ingress controller should reside in installation namespace"
Current installation templates put ingress proxies in the application namespace (cc @andraxylia ).
I recommend we put all ingress and egress proxies into the installation namespace, as they are managed by istio and handle cluster-wide ingresses, rather than having independent identical proxies in each application namespace.

@rshriram @linsun @costinm @louiscryan

[2017-09-14 18:26] rshriram commented on #1272
I would like to add that this copying happens without user awareness, and that is a bad UX, IMO. Till date, Istio has been purely readonly in terms of reading info from kubernetes. It does not mutuate k8s state during runtime (istioctl is a different matter since its executed by the user). If I were to simply try the kube-inject command to see the resulting output, I would unwittingly create a con

[2017-09-14 18:28] rshriram commented on #1273
cc @dcberg

[2017-09-14 18:28] rshriram commented on #1272
cc @dcberg

[2017-09-14 18:29] andraxylia commented on #1273
This incorrect, the ingress and egress controller are in the istio-system namespace.

[2017-09-14 18:33] andraxylia commented on #1273
Just the actual ingress resource is in the app namespace, since it is controlled by the developer.

Please check the design doc for cluster-wide, and close this issue:
https://docs.google.com/document/d/1Of0SUxNLzVQyBO9xx2fEKsN4vwyp72csbWd-8xjeLS0/edit

[2017-09-14 18:36] costinm commented on #1273
So the services run in istio-system, but resources must be in app namespace, for security reasons.

We need to minimize users crossing namespace boundaries - ideally no service account in user namespace should have permissions on the istio-system namespace.

[2017-09-14 18:37] costinm commented on #1272
+1 on not copying the config map by default, if we can confirm that it is not used by any code running in the namespace.

[2017-09-14 18:38] costinm commented on #1272
If we do find code using it - we can also have the kube-inject generate the config map if one doesn't exist.

However - in 0.3 it is very likely we'll need to make the config more flexible, so each namespace and service can override specific settings ( like mTLS ).

[2017-09-14 18:41] costinm commented on #1272
Kuat - can you point to any doc on "ConfigMaps are only visible within a single namespace." ? My understanding was that if you have proper RBAC access, you can access (using k8s API) any config map.

It can't be mounted in a different namespace - but access is still possible, i.e. another option to istioctl copying the config map is to have pilot or some controller create the copy if needed.

[2017-09-14 18:44] linsun commented on #1272
totally + 1 on not copying config map over on each used namespace by the user, especially if the config map isn't even used.   This needs to get in for 0.2.x as it impacts user's experience (1) i can't share my kube injected generated yaml with you to run it, 2) complicated the migration in the future 3) ugly user experience with copying config map failed error 4) create unneeded resources in user

[2017-09-14 18:46] linsun commented on #1272
@costinm you could assign permissions to allow configmaps to be accessible for multiple namespaces but that doesn't mean the user would want to do that.  Neither should we ask user to change their rbac config for namespace because of istio.

[2017-09-14 19:02] kyessenov commented on #1273
Please fix the code:
https://github.com/istio/pilot/blob/master/test/integration/infra.go#L216

[2017-09-14 19:04] rshriram commented on #1272
Having a single globally "readable" resource is the clean solution IMO.

[2017-09-14 19:14] kyessenov commented on #1272
Here
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/
"ConfigMaps reside in a specific namespace
<https://kubernetes.io/docs/user-guide/namespaces/>. A ConfigMap can only
be referenced by pods residing in the same namespace."

On Thu, Sep 14, 2017 at 12:04 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2017-09-14 19:30] andraxylia commented on #1273
So this issue is about changing the pilot e2e tests, I see. Sure, it can be done differently. There were issues with running pilot e2e tests in a shared cluster, so this was a way to test cluster-wide without causing interference among various concurrent runs.

The actual templates in istio/istio are like this, and ingress is in the installation ns:
https://github.com/istio/istio/blob/master/insta

[2017-09-14 20:44] andraxylia commented on #1272
If the config map is not used, how does the proxy know where to find istio services (pilot discovery, ingress, egress?

Is here the assumption the change that starts envoy with more arguments will be accepted?

[2017-09-14 20:50] andraxylia commented on #1272
@rshriram  kube-inject is not the proper way to solve this, this is why is marked as temporary
istio/pilot#1153 addresses this the proper way, in the context where config maps are maintained, and it is trivial to implement with the current design, with little risk for collateral damage. If config maps are not needed in all namespaces, so much better, we can close 1153.

[2017-09-14 20:53] costinm commented on #1272
@linsun: I agree, that is exactly my point. User should not need RBAC permissions or access across namespaces - any config they change should be in their own namespace.

If there is anything to configure - in ConfigMap or CRD - it should be local, in his own namespace.

If the config map is not used now - because we don't yet have ability to tune some features per namespace or per pod - it is ok t

[2017-09-14 20:56] costinm commented on #1272
@kyessenov - yes, that's my undestanding as well, ConfigMap can only be mounted in a pod ( or set as env ) in their current namespace.

CRDs don't have this problem - because AFAIK they can't be mounted or set as env in any namespace :-)

But both CRD and ConfigMaps can be accessed programmatically from istio-system ( which has broad cluster permissions ), so we can apply a hierarchical config, wh

[2017-09-14 20:58] andraxylia commented on #1272
@linsun I disagree with the point users would not want to change the default. As an example, the transparent injection of proxy. User may decide to enable it for pods in a specific namespace, and disable it for other namespaces. Same with auth. cc @ayj

We must avoid putting the carriage before the horse and start with some concrete use cases about what features can be enable/disabled and in what

[2017-09-14 22:57] rshriram commented on #1272
We should certainly support per namespace configs in future, but lets do it in a proper design process. Because, this is a big feature - it is unknown as to how a mTLS enabled namespace and non-mTLS enabled namespace interact/work, given that they all share a single Pilot. There is a bunch of work left there and this feature is completely new. And a non-mixer enabled service and mixer-enabled serv

[2017-09-14 23:10] costinm commented on #1272
We do support per namespace config in 0.1 (that's all we had) - so at most we have a regression if cluster-wide doesn't honor/use them anymore. I agree not all interactions are tested - and some settings ( like mTLS) clearly can't be yet fine-tuned.

And I think we have consensus that silent map creation is a bug - the fix involves not mounting the config maps first, and I'm not sure what side eff

[2017-09-14 23:12] kyessenov commented on #1272
Costin I want to make two things clear:
1. Pilot agent is entirely different from 0.1 and 0.2. The whole xDS is a major architectural change.
2. We never claimed to support picking up updates from config maps. In fact, there is not a single use of config map here that listens on changes to config maps.

[2017-09-14 23:27] kyessenov commented on #1272
Example of removing unnecessary mount with no effect: https://github.com/istio/istio/pull/815

[2017-09-15 01:18] ldemailly commented on #1272
Sounds good to me. I think we need a single key/level of indirection, for the sidecar it's the pilot ip+port that manages it (which in turn can be smart and look at per namespace or per selector config, now or later)

For other config tbd in https://github.com/istio/istio/issues/632 in 0.3

[2017-09-15 01:22] ldemailly commented on #1272
as mentioned in https://github.com/istio/pilot/issues/1153#issuecomment-326432403 14 days ago:

[2017-09-15 01:26] kyessenov commented on #1272
We can get quite fancy with how we customize each newly injected pod, but the question is then restricted to the injector itself, and does not touch pilot/discovery situation. The injector (kube-inject or admission controller) is free to manufacture either or a long list of flags or mount a file or whatnot, and all those options are transparent to the user. The injector can rely on information whe

[2017-09-15 03:42] ldemailly opened #1277 "Investigate spurious cert change events"
Investigate spurious cert change events
[code]
also would be great to have a test confirming that no errors occur early at startup (that we don't show anything ready/available for serving traffic before it is actually available)

[2017-09-15 03:43] ldemailly commented on #1277
seen in https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/819/e2e-suite-rbac-auth/608/?log#log

[2017-09-15 03:43] ldemailly commented on #1277
See also https://github.com/kubernetes/kubernetes/issues/50345 [pointer from @kyessenov , thx!]

[2017-09-15 03:49] kyessenov commented on #1277
@lookuptable @myidpt any idea why fsnotify is spamming why there is no seeming change to certs?

[2017-09-15 06:53] myidpt commented on #1277
I'm not sure. I guess any change to the directory / files inode will be detected by fsnotify, and Kubelet is continuously reading? Does this spam stop after all the certs are successfully mounted?

I'll investigate more tomorrow.

[2017-09-15 15:06] rshriram commented on #1236
@ayj I saw you had a PR for istioctl backward compatibility. Has this issue been resolved as part of that PR? If so, can we close this? @frankbu can you confirm?

[2017-09-15 15:40] linsun commented on #1272
I think we are now moving decision to if we should enable users to configure the configuration at the namespace level.  That is definitely not a scenario interesting for us in 0.2 beta imho.  This is the release we are introducing cluster-wide Istio, we want to make it easy and not complicated where people will think the configuration is cluster-wide.   This configuration at individual namespace l

[2017-09-15 15:49] ayj commented on #1236
https://github.com/istio/pilot/pull/1213 are resolved the issue with input file format. It didn't make any changes to the CLI type names.

Do we still want to expose the older hyphenated resources names, or can we standard on the non-hyphenated versions?

[2017-09-15 16:32] rshriram commented on #1272
To top what Lin said, every user email (if you happen to peruse them) asks
for "how do I make these rules work in other namespaces" ? Or goes
something like "rule does not work in another namespace". Not a single
person said, I would like to have namespace specific Istio. I encourage you
to peruse through the istio-users.

--

~shriram

[2017-09-15 16:33] rshriram commented on #1236
non hyphenated ones are good. No need to have the old one around.

On Fri, Sep 15, 2017 at 11:49 AM Jason Young <notifications@github.com>
wrote:

--

~shriram

[2017-09-15 16:37] sebastienvas opened #1281 "postsubmit broken"
Note that postsubmit does not use bazel cache to catch this kind of issue before release.

Please check https://k8s-gubernator.appspot.com/build/istio-prow/pilot-postsubmit/172/

[2017-09-15 16:59] kyessenov commented on #1236
Should we also produce `kubectl` style YAMLs as return for `istioctl`? Currently, it's the internal style, but it should be easy to update it to match `kubectl`.

[2017-09-15 17:15] ayj commented on #1236
Have all the proxy rules been updated to the new k8s-style format? Is it safe to remove the legacy input format now?

[2017-09-15 17:52] xiaolanz commented on #1281
I cannot repo the build failure locally.

[2017-09-15 17:58] frankbu commented on #1236
@ayj yes, I believe so.

[2017-09-15 17:59] frankbu commented on #1236
One other thing I suggested above is to add `istioctl apply ...`. I don't think it's critical, but would be nice if easy to add. What do others think?

[2017-09-15 18:02] frankbu commented on #1236
And one more thing, does istioctl support: `-f -`? Previously, istioctl just defaulted to read from stdin, but using the -f option, like kubectl, would be better.

[2017-09-15 18:15] #1272 closed

[2017-09-15 18:15] #1273 closed

[2017-09-15 18:21] andraxylia commented on #1153
No longer needed via istio/pilot#1276

[2017-09-15 18:21] #1153 closed

[2017-09-15 18:34] sebastienvas commented on #1281
That s ok I have a fix for it, but for info you need to
git clean -xdf (do -n first)
rm your bazel cache ie output from
bazel info | grep output_base
bazel clean

I just added this to the oncall playbook.

[2017-09-15 18:42] ayj commented on #1236
`istioctl apply` is more involved. I made the `-f -` change and removed the legacy input format. Hyphenated types should only be used internally by pilot which could be fixed in a follow-up PR?

[2017-09-15 18:44] xiaolanz commented on #1281
thanks for taking on this!

[2017-09-15 20:26] #1281 closed

[2017-09-15 20:45] sebastienvas commented on #1112
I am not sure how to fix this. I ll create a job that clear the bazel cache every week or something

[2017-09-15 21:54] ldemailly commented on #1112
I think the oncall should repro the issue when time permits

[2017-09-15 22:24] rshriram commented on #1236
Yes please! Let's sync the internal and external templates.
On Fri, Sep 15, 2017 at 2:42 PM Jason Young <notifications@github.com>
wrote:

--

~shriram

[2017-09-15 22:25] kyessenov commented on #1236
I'll do the follow up PR.

[2017-09-15 23:29] #1236 closed

[2017-09-16 02:12] ldemailly commented on #1246
solved

[2017-09-16 02:12] #1246 closed

[2017-09-16 19:26] kyessenov commented on #1233
95% is going to be tough to achieve...

@ldemailly : please add tests for https://github.com/istio/pilot/blob/master/platform/kube/register.go

@GregHanson : please add tests for https://github.com/istio/pilot/tree/master/platform/consul

I'll try to improve configuration backends coverage.

[2017-09-16 22:22] ldemailly commented on #1233
@kyessenov register has unit tests for all the functions that have no side effect/don't require kube but not for the main one. it would a lot easier to test the functionality through istioctl cmd line, I asked during the pr where/how can I put istioctl tests and if I recall the answer was "there aren't any" (in pilot)

do you have a pointer to a similar test (I guess kube-inject tests ?)

[2017-09-16 22:41] kyessenov commented on #1233
@ldemailly you should test the libraries, not CLI tools, if possible.

Example using real k8s in a test: https://github.com/istio/pilot/blob/master/adapter/config/crd/client_test.go#L65
Example using fake k8s API:
https://github.com/istio/pilot/blob/e6217330e54402305b60d93577796fdd76baa42d/platform/kube/admit/admit_test.go#L419

[2017-09-17 00:36] ldemailly opened #1288 "unable to make rewrite rule work"
In https://github.com/istio/istio/pull/833 I'm trying to setup a simple egress such as

/fortio/foo from outside goes to echosrv with /foo

it seems to silently not work
cc @kyessenov

(edit: 404s are gone now somehow)

[2017-09-17 00:45] ldemailly commented on #1288
it's either a bug or a doc issue

[2017-09-17 00:49] ldemailly commented on #1125
need to add unit test (though probably first the e2e one), for unit test , ptr to makeTempClient in https://github.com/istio/pilot/issues/1233#issuecomment-329999170

[2017-09-17 22:50] sakshigoel12 opened #1293 "Review and update readme for pilot repo for 0.2"

[2017-09-18 14:28] rshriram commented on #1228
fixed by #1243

[2017-09-18 14:28] #1228 closed

[2017-09-18 14:29] rshriram commented on #869
can you reproduce this?

[2017-09-18 14:30] #479 closed

[2017-09-18 14:33] rshriram commented on #1015
This needs a design doc and community review. This is a much more higher level decision on what "security" means in Istio and whether users can bank on the fact that an auth enabled cluster secures everything or should they still need to worry about pieces of their infrastructure going silently insecure.

[2017-09-18 14:36] rshriram commented on #292
Related to #1237

[2017-09-18 14:38] rshriram commented on #1250
I sure can. We have a clear requirement that pods/instances belong to one service. I don't want to unnecessarily complicate our implementation for corner cases in kubernetes

[2017-09-18 15:53] ldemailly commented on #1015
it wouldn't be silently / should be by default to secure all injected services and not the ones that aren't

there has been enough report that clearly this is a bug

we can discuss solutions but that doesn't make it not a bug

[2017-09-18 16:17] xiaolanz commented on #1112
No more flakiness is observced.

[2017-09-18 16:17] #1112 closed

[2017-09-18 16:46] ldemailly commented on #1233
Thanks for the pointer !

In general, my 2 cents by the way would be to focus on stability (we're in code freeze), finding and fixing actual bugs, starting with the known ones, and increase real coverage rather than making big refactoring just for the sake of increasing a number - that number can be increased during the dev cycle next time (vs post code freeze).

(not to say that istioctl register

[2017-09-18 16:57] ldemailly commented on #1112
I meant recreate a change of name pr and see it break other PRs

[2017-09-18 18:08] andraxylia commented on #292
We will have to tackle this seriously in 0.3, changed it to a P0.

[2017-09-18 19:11] kyessenov commented on #1233
Once we raise it to ~90%, we're not going to chase the number as it provides marginal values. It's important to get basic coverage since it prevents accidental regressions. We never pay enough attention to this during our regular dev cycle, so now is a good time to add coverage test suites.

[2017-09-18 19:25] saumoh opened #1300 "Make one script for setting up iptables rules in all repos"
There are two versions of the prepare_proxy.sh script. One in istio/pilot [1] and another one in istio/proxy[2]
There should be just one such script so that all the testing and changes are managed in one place.
Opening an issue to track this requirement.
[1]: https://github.com/istio/pilot/blob/master/docker/prepare_proxy.sh
[2]: https://github.com/istio/proxy/blob/master/tools/deb/istio-iptables.

[2017-09-18 20:05] xiaolanz opened #1302 "Manifest test failure reasons due to test infra failures"
modify https://github.com/istio/pilot/blob/master/test/integration/driver.go to clearly delineate if a test died because the test fails or if the test died because of infrastructure setup / teardown.

[2017-09-18 21:11] rshriram commented on #1015
In/Out calls to non injected services is not a bug. Its an explicit choice in terms of design and it makes sense to think clearly about this. There is no way to enforce mTLS throughout the cluster without this.

[2017-09-19 00:22] kyessenov commented on #1302
How can we tell? If a component fails with panic/segfault, it's indistinguishable from failing from infrastructure failure.

[2017-09-19 01:06] andraxylia commented on #1021
This is for when Ingress is deployed as NodePort. In that case, the external IP of the service is not used. Please go inside k8s code and check.

[2017-09-19 04:54] xiaolanz commented on #1302
I would treat if best efforts.

[2017-09-19 07:56] ldemailly commented on #1300
subscribe

[2017-09-19 10:55] dcberg commented on #1272
What was the resolution here? How will configs get shared within the cluster?
It was not clear if the ConfigMap was actually being used. If not then remove it (my 2 cents).

[2017-09-19 13:10] linsun commented on #1272
@dcberg config maps are not used by the pilot agent so @kyessenov put code in #1276 to remove the copy of the config maps to each app's namespace.

[2017-09-19 15:40] ijsnellf commented on #1021
As per @andraxylia's suggestion, it may be possible to fix this by writing our own implementation of this line:
https://github.com/istio/pilot/blob/master/adapter/config/ingress/status.go#L87

[2017-09-19 17:04] saumoh commented on #1300
there are three pieces to it:
- merge the change set from istio/proxy into istio/pilot.
- cross reference the script from  istio/pilot repository in to istio/proxy.
- create or merge tests for functionality in istio/proxy into prepare_proxy_test.sh script.

[2017-09-19 17:06] saumoh commented on #1300
This issue is blocking pr https://github.com/istio/pilot/pull/1157
Once this is fixed we can merge the above pr.

[2017-09-19 17:09] sebastienvas opened #1310 "Pilot Release script failing"
More info at https://console.cloud.google.com/gcr/builds/df625fc8-bc62-4e9f-af05-721885f7c971?project=istio-io&organizationId=433637338589

+ source /tmp/gopath/src/istio.io/pilot/bin/use_bazel_go.sh
++++ dirname /tmp/gopath/src/istio.io/pilot/bin/use_bazel_go.sh
+++ cd /tmp/gopath/src/istio.io/pilot/bin
+++ pwd -P
*** /workspace/bin/../bazel-pilot does not exist - did you forget to bazel build ..

[2017-09-19 17:10] costinm commented on #1300
For 0.2, having 2 scripts is intentional, to de-risk the release.
For 0.3, the intent is to deprecate the old prepare_proxy script - and use the one from proxy (probaby
moved to istio/istio - where most common things are going).

[2017-09-19 17:13] kyessenov commented on #1300
The script should be where the docker build is. It's here now, so please move the dependencies to pilot repo, so we don't have to make changes to two scripts at the same time.

[2017-09-19 17:27] costinm commented on #1300
As discussed, pilot should not build iptables images. I will move the new script to istio/istio in 0.3, part of the new flat/consistent build - pilot should build pilot images.

[2017-09-19 17:30] kyessenov commented on #1300
iptables doesn't have to be in pilot as long as it has stable API/flags
that admission controller can use. Adding istio/istio as a dependency of
pilot introduces a circular dependency that will never resolve through the
bots.

On Tue, Sep 19, 2017 at 10:27 AM Costin Manolache <notifications@github.com>
wrote:

[2017-09-19 17:38] costinm commented on #1300
Yes, all API, flags and env variables will maintain backward compatibility.
We are working on flattening the build - so no 'circular dependencies' or bots will be needed
to build iptables.

[2017-09-19 18:44] sebastienvas opened #1311 "Unable to build istioctl for mac"
Way to reproduce this:
[code]

[2017-09-19 19:00] andraxylia opened #1312 "Default config values should be for production, not testing"
Current default config values int he code (discovery refresh rate etc) are good for testing, not for production. It should be the other way, so the user only needs to override values that they want to change, not all of them.

https://github.com/istio/pilot/blob/master/proxy/context.go#L145

The configMap should be used to tune specific environments of the deployment environment, and fields should

[2017-09-19 19:01] kyessenov commented on #1311
works fine on xenial

[2017-09-19 19:02] sebastienvas commented on #1311
bazel clean and rm bazel cache please ?

[2017-09-19 19:05] sebastienvas commented on #1311
I guess it is an OS lib, so cleaning might not help.

[2017-09-19 19:30] sebastienvas commented on #1311
Closing this as it only impact old version of ubuntu.

[2017-09-19 19:30] #1311 closed

[2017-09-19 20:27] kyessenov opened #1315 "Proper derivation of source and destination service attributes"
As observed in https://github.com/istio/pilot/pull/1307, `destination.service` is being set to `b.namespace.svc.cluster.local,headless.namespace.svc.cluster.local` which doesn't work with any of the mixer configs. Additionally, neither `destination.name` nor `destination.namespace` is being set either. We need to pick one service out of the list, and also set `name` and `namespace` to avoid re-der

[2017-09-19 21:39] ldemailly commented on #1288
there was an error in my yaml - that kubectl doesn't complain about but istioctl does:
[code]

thanks @kyessenov for helping with the debugging - also discovered how to:

[code]
for ingress rules

and
[code]
to see pod rules

they look like
[code]

[2017-09-19 21:42] #1310 closed

[2017-09-19 21:52] kyessenov commented on #1288
closing as the issue has been resolved, with work on validation ongoing.

[2017-09-19 21:52] #1288 closed

[2017-09-19 22:16] douglas-reid commented on #1315
It might be kinda lame, but is one option to simply document that this multi-service scenario is not yet supported?

[2017-09-19 22:28] kyessenov commented on #1315
It certainly is an option. That needs to be made clear in the docs as I saw user reports of the similar type of an error. How do we minimize the surprise factor here? If pilot does not set `destination.name`, I assume Mixer recomputes it, but not from `destination.service`, right?

[2017-09-19 23:49] andraxylia opened #1320 "Need an easy way to tell if auth is enabled or not"
Need to understand if pilot picked up the auth enabled and proxy will encrypt traffic.

Current suggested way was to query RDS, but this is cumbersome.

[2017-09-20 00:11] andraxylia commented on #1315
How big is the fix and how much collateral can it cause?

[2017-09-20 04:50] mandarjog commented on #1315
In a multi service scenario the mode of failure cannot be controlled easily. The list will be sorted alphabetically, so if you happen to have an additional service, things will fail in a difficult to control way.

We start from clusterIP at the source, so we precisely know the destination. This needs to  be propagated to the destination.

From what I have seen `destination.name` is also not being

[2017-09-20 16:18] rshriram commented on #1315
My two cents: we can leave the behavior as is and tell people that we do not handle the one pod in multiple services scenario. Its unnecessary complexity to add code everywhere to do do guess work.

[2017-09-20 16:38] douglas-reid commented on #1315
@kyessenov and @mandarjog right now, Mixer does not compute `destination.name` (or `source.name`). we could alter that behavior fairly easily if it were desirable.

[2017-09-20 16:42] frankbu opened #1324 "istioctl get routerules output name wrong"
[code]

[2017-09-20 17:15] frankbu opened #1325 "Envoy returning error while rules are updating"
There seems to be a problem while route rule changes are propagating.

For example, after setting the default routes for the bookinfo services according to the request routing task (https://istio.io/docs/tasks/request-routing.html)

[code]

For several seconds the reviews and ratings services appear to not be returning the 200. Eventually the v1 versions do appear, but until then, the UI looks lik

[2017-09-20 17:18] kyessenov commented on #1325
@rshriram changed the update interval to 30s. If routes, clusters, and endpoints are out of sync, some things may be unavailable at use-time.

[2017-09-20 17:19] kyessenov commented on #1325
Logically, the updates should proceed in a sequence - EDS, CDS, RDS, and then LDS. I think Envoy does the right thing for first three, but not for LDS -> RDS usages. That means listeners are applied might be applied even when routes are not available.

[2017-09-20 17:22] kyessenov commented on #1315
@rshriram the problem is this guess work is already present, but pilot and mixer guess different things. That will lead to strange behaviors.

[2017-09-20 17:26] wattli commented on #1320
The easiest way is to check pilot policy as shown below.

# Pilot service for discovery
    authPolicy: MUTUAL_TLS

The absolutely correct way is to check CDS/LDS to see if there is ssl_context section in them.

[2017-09-20 17:41] andraxylia commented on #1320
The authPolicy in the configMap is what has been configured, not what is operational.
If the user changes the configMap and does not restart pilot, auth will not be changed.
A good start can be a log in the pilot, if pilot is the one driving the decision to encrypt or not.

[2017-09-20 17:43] andraxylia commented on #1315
Can somebody write in the description a nice detailed explanation of what is a "multi-service scenario", along with the use cases and examples @ZackButcher can you help here please?

[2017-09-20 17:59] andraxylia commented on #1320
Also, checking LDS/CDS is not a fast way, one has to know how to do it, it goes too deeply into debugging.

[2017-09-20 18:03] maruina commented on #1325
Can it be a duplicate of [pilot/926](https://github.com/istio/pilot/issues/926)?

[2017-09-20 19:12] ZackButcher commented on #1315
In k8s we can wind up in a multi-service scenario relatively easily: services just select a group of pods by label. A simple example would be renaming an existing service, where I define a second, different service name that points at the same set of pods, but I leave the old one around to ease transition for my callers.

A second use-case is very common inside of Google: I host multiple APIs on t

[2017-09-20 19:22] andraxylia commented on #1315
Given all the above, I agree we cannot fix this in upcoming release next week, but we should document the limitation and fix it with high priority right after. Since we will switch to a faster release cycle, the fix will be released soon.

[2017-09-20 20:00] wattli commented on #1320
I think it's just a one-line command to query LDS/CDS and we can document it in the debugging section.

[2017-09-20 20:01] kyessenov commented on #1315
Thank you for examples @ZackButcher . I think there's a lot of power and flexibility in separating the service names (addresses by which clients call servers) from the service workloads (physical servers or pods). I don't see why this particular issue should force us to create a one-to-one correspondence between the two. There's a relatively simple fix to pass `destination` address from the client

[2017-09-20 21:35] #1324 closed

[2017-09-20 22:28] andraxylia opened #1328 "Pilot CRDs left in the system after uninstall"
Pilot CRDs need to be added to the yaml files so they can be removed if istio is uninstalled, similar to how mixer does it.

This is left after uninstall:
$ k get crd
NAME                                  KIND
destinationpolicies.config.istio.io   CustomResourceDefinition.v1beta1.apiextensions.k8s.io
egressrules.config.istio.io           CustomResourceDefinition.v1beta1.apiextensions.k8s.io
router

[2017-09-20 23:07] mandarjog opened #1329 "Ingress stopped working after 30mins"
I was testing with bookinfo app, everything was working for the first 30 mins and then ingress stopped responding.

environment: GKE 1.7.5
[code]

ingress and service are up and running.
[code]

[2017-09-20 23:09] kyessenov commented on #1329
Please add ingress pod logs.

[2017-09-20 23:09] mandarjog commented on #1329
[ingress.log.zip](https://github.com/istio/pilot/files/1319478/ingress.log.zip)

[2017-09-20 23:21] kyessenov commented on #1329
Thanks, this is a race condition. Working on a fix.

[2017-09-20 23:26] ldemailly commented on #1328
workaround in the meantime
[code]
which will catch any leak too in case mixer would have extra etc

[2017-09-21 00:05] mandarjog commented on #1329
@kyessenov can you elaborate on the race condition and why it was seen in this environment? thnx.

[2017-09-21 00:08] kyessenov commented on #1329
This happened because epoch 5 and epoch 4 raced. somehow epoch 5 got aborted by epoch 4, and that caused a missed change detection by epoch 4. the root cause is excessive spam from cert watcher.

[2017-09-21 00:50] ldemailly commented on #1329
subscribe

[2017-09-21 17:20] #1329 closed

[2017-09-21 17:51] kyessenov commented on #1328
@andraxylia can you add this to installation:
[code]

[2017-09-21 20:31] kyessenov commented on #1277
@myidpt can you please install a rate limit between fsnotify and proxy agent? it's causing unnecessary races by triggering restarts halfway through updating files.

cc @mandarjog

[2017-09-22 18:51] spikecurtis opened #1336 "istioctl kube-inject segmentation violation"
I'm running with `istioctl` from:

https://storage.googleapis.com/istio-artifacts/pilot/9c7c291eab0a522f8033decd0f5b031f5ed0e126/artifacts/istioctl/istioctl-linux

[code]

The `bookinfo.yaml` has been slightly modified to include service accounts for each microservice.  [Full YAML](https://gist.github.com/spikecurtis/ab01d39f27ed823cf375c245ff01244f).

[2017-09-22 18:58] ayj commented on #1336
Looks like a missing error check when `istio` configmap is not found [here](https://github.com/istio/pilot/commit/329447257dee2b44b44abe1efccc96f021c644a3#diff-164a538e8a2e62f25521e56226ab68a0L123).

[2017-09-22 20:07] #1336 closed

[2017-09-22 21:00] kyessenov opened #1338 "Make mixer a first class service"
Pilot creates a special cluster for mixer with a CB configuration hard-coded.
We should treat mixer as another first-class service (with EDS and secure naming), and convert CB settings to a destination policy.

[2017-09-25 20:58] mandarjog opened #1351 "Istioctl: empty document section causes istioctl to issue errors"
This issue is similar to fsstore2 complaining about `missing required keys` while parsing an empty section of configuration.

[code]
This issue is related to https://github.com/istio/issues/issues/76.

[2017-09-25 23:17] #1351 closed

[2017-09-26 00:00] ldemailly commented on #1288
@kyessenov for the record, how would I use Host: header/authority instead of path ?

[2017-09-26 16:10] smawson commented on #1315
A couple quick notes:
- For HTTP, client is already passing destination service in the Host header, no need to send it elsewhere.
- For TCP we should use SNI to derive destination service.

Generally speaking we do need to support multiple services for a single workload, both for source and destination, I think figuring that out should be high priority for 0.3.

[2017-09-26 16:51] mandarjog commented on #1315
A very pertinent use case for this is "breaking the monolith". You have a monolith that you want to decompose into multiple services. You start by defining logical services and updating client code to use those logical services.
The monolith is backing all those services. Gradually logical services move out to be their own micro services.

[2017-09-26 18:26] #1005 closed

[2017-09-26 18:33] sakshigoel12 commented on #1054
@rshriram  is this fixed? is it critical for 0.2?

[2017-09-26 18:37] mandarjog commented on #1325
@rshriram @frankbu @kyessenov  @ijsnellf This issue was discussed at the standup today.
It is very important for 0.2 because it breaks a basic use case, however since the proper fix is very involved, we are going to document a work around.

1. Reduce the `drainDuration` to 2sec. This reduces the probability of the user seeing a 404.
2. Add an entry in the FAQ about this issue. Also state that for

[2017-09-27 02:42] linsun commented on #1325
Is this covered by https://github.com/istio/istio/pull/958?

[2017-09-27 08:55] #1293 closed

[2017-09-27 15:27] mandarjog commented on #1328
/subscribe

[2017-09-27 15:27] linsun commented on #1328
should we add the workaround in our uninstall doc?

[2017-09-27 15:39] andraxylia commented on #1328
The workaround is already in the uninstall
I will try to fix this for this release, if there is time left.

[2017-09-27 15:45] linsun commented on #1328
awesome, thank you @andraxylia!

[2017-09-27 20:32] rshriram commented on #1237
This is with Istio 0.2.4 (which includes mixerclient caching).
cc @douglas-reid
![istio-0 2 4](https://user-images.githubusercontent.com/8202871/30936303-674fd7ac-a3a1-11e7-803b-dd324849131c.png)

[2017-09-27 20:41] suryadu commented on #1237
Here is the view from response time (Latency) perspective.
![image](https://user-images.githubusercontent.com/13684010/30936709-5340b5e4-a39a-11e7-833e-d4f6cad659b3.png)

[2017-09-27 20:50] ijsnellf opened #1367 "Ingress only gets IP when it is in the istio-system namespace"
The ingress status syncer tries to grab the IP from `<discovery namespace>/<ingress service>`. We watch for ingress definitions in either all namespaces, or a given user namespace.

[2017-09-27 20:55] mandarjog commented on #1325
@linsun it is covered there.
@ldemailly cc: for the 404 issue.

[2017-09-27 21:07] ldemailly commented on #1237
Subscribe

[2017-09-27 21:15] linsun commented on #1237
subscribe

[2017-09-28 02:23] #1328 closed

[2017-09-28 14:50] ijsnellf commented on #1367
Might only be in minikube... will verify.

[2017-09-28 15:22] andraxylia commented on #1320
If the users needs to run other  kubectl commands to figure ip addresses and do, it is not acceptable.

It's about the time we start adding a command to display operational info about services, and mTLS enabled is one of the fields.

Maybe we can use istioctl for this.

[2017-09-28 15:29] andraxylia commented on #1367
How is this different from #1021?

Why are the ingress resources definitions relevant to this? They do not participate in the setting of the IP address. Multiple ingress resources can be defined in multiple namespaces, and they will all get the ingress controller's external IP or nodePort.

[2017-09-29 00:35] ldemailly opened #1370 "nodeport support (was curl helloword service error：Recv failure: Connection reset by peer)"
@hzxuzhonghu commented on [Mon Sep 11 2017](https://github.com/istio/istio/issues/744)

when create app helloword in local cluster
[code]
and I visit helloword
[code]

I curl pod ip, the same error,
then I enter container, and curl 127.0.0.1:5000/helloword it works ok. But curl podIP:5000, still recv  Connection refused.

I do not know what's the matter

---

@hzxuzhonghu commented on [Mon Sep 11

[2017-09-29 16:10] rshriram commented on #690
fixed by #1368 where app label from deployment is being used.

[2017-09-29 16:10] #690 closed

[2017-09-29 16:12] rshriram commented on #1325
has been fixed by changing defaults back to 1s temporarily. Long term fix is to move to v2 API and that is a separate issue.

[2017-09-29 16:12] #1325 closed

[2017-09-29 16:36] ayj commented on #1046
https://github.com/istio/pilot/blob/master/doc/testing.md includes steps to enable alpha features for initializer/webhooks.

https://github.com/istio/istio.github.io/pull/503 documents the overall usage of the initializer.

Anything else needed for this issue, or can we close it?

[2017-09-29 16:40] andraxylia commented on #335
This is done. P1 enhancements are possible, but they will need to be prioritized.

[2017-09-29 16:41] andraxylia commented on #1046
This is done.

[2017-09-29 16:41] #1046 closed

[2017-09-29 17:28] andraxylia commented on #1320
@wattli can you document it here as well?

[2017-09-30 02:16] linsun opened #1375 "in code: wait for, instead of create, pilot CRDs (as those are created when pilot is installed already (yaml))"
We have code in pilot to create CRDs and we also added code in istio.yaml to create these same resources via istio installation, mainly for the purpose to delete them easily during istio uninstallation via `kubectl delete -f istio.yaml`.   We should look into an optimized approach.

open this for discussion and resolution of this.  slack chat histories:

Lin Sun [7:58 PM]
oh i was not referring to

[2017-09-30 20:52] wattli commented on #1320
[lita@lita ~]$ k get configmap istio -o yaml | grep MUTUAL_TLS
    authPolicy: MUTUAL_TLS
      {"apiVersion":"v1","data":{"mesh":"# Uncomment the following line to enable mutual TLS between proxies\nauthPolicy: MUTUAL_TLS\nmixerAddress: istio-mixer:9091\ndiscoveryAddress: istio-pilot:8080\ningressService: istio-ingress\nstatsdUdpAddress: istio-mixer:9125\nzipkinAddress: zipkin:9411"},"kind":"Conf

[2017-09-30 20:53] wattli commented on #1320
or

$ curl -v http://istio-pilot:8080/v1/clusters/istio-proxy/sidecar~$[VM_IP]~$[SVC].default~cluster.local | grep ssl_context

[2017-09-30 20:53] wattli commented on #1320
or

curl -v http://istio-pilot:8080/v1/clusters/istio-proxy/sidecar~$[IP]~$[SVC].default~cluster.local | grep ssl_context

[2017-10-02 11:27] mclarke47 opened #1377 "Pilot crashed with " fatal error: concurrent map read and map write" error"
Stack trace can be found here:
https://gist.github.com/mclarke47/50ff5bcfaa89a0b067e3cc10d6a59fbd

Pilot seemed to crash causing the ingresses to not know where to route traffic resulting in lots of `404 NR` errors in the envoy access logs.

Version 0.2.6

Deploying the same as in the [sample](https://github.com/istio/istio/blob/master/install/kubernetes/istio.yaml).

As a side note, is pilot able

[2017-10-02 17:04] ijsnellf opened #1378 "Eureka adapter support for Eureka pre-v1.2.2"
We need to have additional logic to handle pre-v1.2.2 Eureka servers as pointed out here: https://github.com/istio/pilot/pull/994#pullrequestreview-56501078

See https://github.com/hudl/fargo/pull/59 for precedent in handling the differences.

We need to either add logic or switch to fargo/hudl.

[2017-10-02 17:55] kyessenov commented on #1237
cc @ldemailly @andraxylia @smawson

[2017-10-02 18:52] suryadu commented on #1237
Here is the improvement once we disable the sidecars
![image](https://user-images.githubusercontent.com/13684010/31093932-f5b9880a-a778-11e7-861a-372e48eb43aa.png)

[2017-10-02 18:59] rkpagadala commented on #1377
Multiple Pilot instances/replicas can be run at the same time, which mitigates the loss of one pilot crashing.

[2017-10-02 20:22] mandarjog commented on #1377
Concurrent access to the `podCache` @kyessenov, this a real bug, we need to fix it.

[2017-10-02 21:17] kyessenov commented on #1377
/assign @rkpagadala

[2017-10-02 21:26] rkpagadala commented on #1377
Working on the fix

[2017-10-02 22:06] linsun commented on #1377
agree that this is critical for 0.2x

[2017-10-02 23:08] #1377 closed

[2017-10-03 13:12] bobbytables commented on #808
Has anyone come up with a convenient way to disable health check traces at least? I'm worried that we're just bloating our database instance for no reason.

[2017-10-03 16:11] douglas-reid commented on #969
Has there been any update to the work on this issue?

[2017-10-03 18:33] cmluciano commented on #969
I have not worked on it recently.

[2017-10-03 18:35] kyessenov commented on #969
No update, this feature is not making it to 0.2

[2017-10-04 07:11] kadamvandita commented on #368
Hi,

ERROR: missing input file '//platform/kube:config'. any fix for this?

[2017-10-04 08:45] kadamvandita opened #1385 "missing input file '//platform/kube:config'."
on building pilot with make command or make setup ,it faisl with error missing input file '//platform/kube:config'.

[2017-10-04 14:17] gyliu513 commented on #368
@kadamvandita you may want to run `make platform/kube/config` or `make setup` first.

[2017-10-04 14:18] gyliu513 commented on #1385
@kadamvandita you may want to run make platform/kube/config or make setup first.

You can get more detail for how to build in https://github.com/istio/pilot/blob/master/Makefile

[2017-10-04 14:18] #1385 closed

[2017-10-04 14:45] linsun opened #1389 "istio incorrect handle of ingress backend path"
@eigokor commented on [Wed Oct 04 2017](https://github.com/istio/issues/issues/86)

**Is this a BUG or FEATURE REQUEST?:**

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Isti

[2017-10-04 15:58] linsun commented on #1389
looks like https://github.com/istio/pilot/blob/master/adapter/config/ingress/conversion.go#L158 is treating "/internal/v1.0/service" as true which caused the string to be treated as regex.

[2017-10-04 20:21] ijsnellf opened #1392 "Pilot discovery doesn't have retries of requests to apiserver"
Noticeable when deploying the Eureka/Consul demos. The API server takes half a second to startup, which means that pilot isn't not able to make the initial request to the apiserver.
[code]

This wouldn't be a big deal in K8S or with Nomad, since the container would restart and work the 2nd time, but you have to restart the container manually in Docker.

[2017-10-05 02:05] linsun commented on #1389
Looking at the code, I believe we are treating "/internal/v1.0/service" as regex.  If you look at k8s ingress spec, however it says path is supposed to be an extended POSIX regex (see link below).  Given having real dot in the path isn't very common, I'm leaning towards not do anything till further feedback from users.   cc @kyessenov @rshriram

https://github.com/kubernetes/api/blob/master/extens

[2017-10-05 02:33] rshriram commented on #1389
k8s ingress uses nginx as reference implementation. Dot is very common when you use gRPC.

[2017-10-05 04:24] eigokor commented on #1389
Current implementation in istio side is not even a POSIX regex where "." matches any single character (many applications exclude newlines, and exactly which characters are considered newlines is flavor, character encoding, and platform specific, but it is safe to assume that the line feed character is included). Within POSIX bracket expressions, the dot character matches a literal dot. For example

[2017-10-05 15:11] frankbu commented on #1389
The current implementation is using golang regex, so it's not exactly POSIX. I agree with @rshriram that literal "." characters are common, so we need to support them.

@eigokor Did you try `/internal/v1[.]0/service`?

[2017-10-05 15:53] linsun commented on #1389
i think I agree we should fix this if dot is very common with gRPC.

We need to come down to a conclusion on how to check if it is POSIX?   One way is to do what nginx does, which they don't attempt to parse path as regex, per https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/template/template.go#L199

[2017-10-05 18:28] frankbu commented on #1389
See also: https://github.com/istio/istio.github.io/issues/615

Note that mapping `/*` to match `/`, `//`, `///`, etc., is also not a good implementation.

[2017-10-06 03:24] ldemailly commented on #1375
another reason to not create crd in code: https://groups.google.com/forum/#!msg/istio-users/NrQ6iABjcqo/jlTemfoEBQAJ

cc @rkpagadala

[2017-10-06 10:39] kadamvandita opened #1405 "make setup command fails on s390x system"
make setup command fails with error:

external/go1_8_3_linux_amd64/bin/go: 1: external/go1_8_3_linux_amd64/bin/go: uE@p@8: not found
external/go1_8_3_linux_amd64/bin/go: 2: external/go1_8_3_linux_amd64/bin/go: @$: not found
external/go1_8_3_linux_amd64/bin/go: 1: external/go1_8_3_linux_amd64/bin/go:ELF: not found
external/go1_8_3_linux_amd64/bin/go: 1: external/go1_8_3_linux_amd64/bin/go: æ: not f

[2017-10-06 17:38] ldemailly commented on #1325
I have a repro in #1041

[2017-10-06 21:23] kyessenov commented on #1405
/assign @rshriram

[2017-10-08 15:46] rshriram commented on #1405
this is bazel error.. its pulling amd64 instead of arch specific go.

[2017-10-09 04:14] kadamvandita commented on #1405
I have installed s390x specific bazel.Also have changed couple of files to pull s390x.It pulled specific to s390x,but futher failed @ this error

[2017-10-09 04:21] kadamvandita commented on #1405
Want to know exactly which file to change so that it picks s390x instead of amd64.

[2017-10-09 04:29] gyliu513 commented on #1405
Should share same root cause with https://github.com/bazelbuild/rules_go/issues/854

[2017-10-09 14:46] eigokor commented on #1389
@frankbu yes, same result 404

[2017-10-09 16:51] rshriram commented on #1389
@eigokor can you try this: https://istio.io/docs/tasks/traffic-management/ingress.html and let me know if its of some help?

[2017-10-09 17:06] eigokor commented on #1389
@rshriram what exactly you want me to try?

working ingress:
[code]

not working
[code]

[2017-10-09 17:14] rshriram commented on #1389
[code]

[code]

[code]

[2017-10-09 18:38] eigokor commented on #1389
[code]
Error: configuration is invalid: 1 error occurred:

* name or service is mandatory for a service reference

[2017-10-09 19:40] rshriram commented on #1389
Oh shux. can you try this istio.yaml instead: https://github.com/istio/istio/blob/master/install/kubernetes/istio.yaml ?

[2017-10-09 20:16] eigokor commented on #1389
Ok, found solution.

1. had to use single service to expose both pods
[code]

2 Ingress
[code]
3. rules

[code]

[code]
able to trigger
http://myELB/v1.0
http://myELB/v1.0/
http://myELB/v2.0/

got 404 at
http://myELB/v2.0

is it mandatory to have single service for that kind of request routing?

[2017-10-09 21:48] kyessenov opened #1412 "Incomplete tests: Consul service registry"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Consul service registry_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendatio

[2017-10-09 21:56] kyessenov opened #1413 "Tests: Server side configuration validation with WebHooks"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_configuration validation_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendati

[2017-10-09 21:57] kyessenov opened #1414 "Epic: Ingress bugs"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_cluster ingress_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations**:
-

[2017-10-09 21:58] kyessenov opened #1415 "Incomplete feature: TCP routing support"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_TCP routing support_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations**

[2017-10-09 21:59] kyessenov opened #1416 "Incomplete tests: HTTP/gRPC routing support"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_HTTP/gRPC routing support_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendat

[2017-10-09 22:00] kyessenov opened #1417 "Egress rule must support Mongo/Redis/TCP services"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_cluster egress_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations**:
- C

[2017-10-09 22:00] kyessenov opened #1418 "Incomplete tests: multi-namespace support"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_multi-namespace support_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendatio

[2017-10-09 22:01] kyessenov opened #1419 "Incomplete tests: fault injection"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_fault injection_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations**:
-

[2017-10-09 22:02] kyessenov opened #1420 "Incomplete tests: availability zones support"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_availability zones support_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommenda

[2017-10-09 22:06] kyessenov opened #1421 "Add liveness and readiness probes to proxies and discovery services"
- Add probes to the sidecars, ingress, egress, discovery services, etc.
- Avoid serving traffic with incomplete configuration state.
- Provides signals for horizontal scheduling

Also:
- https://github.com/istio/pilot/issues/908

[2017-10-09 22:09] kyessenov opened #1422 "Proxy configuration update without 404"
Changes to service, ingresses, or CRDs can cause 404 for live traffic due xDS protocol not staging updates between RDS/CDS/EDS.
Proxy should not apply partial xDS configuration update.

Also:
- https://github.com/istio/pilot/issues/926
- https://github.com/istio/istio/issues/1038
- https://github.com/istio/pilot/issues/1325

[2017-10-09 22:12] kyessenov commented on #1315
ref

[2017-10-09 22:19] kyessenov opened #1423 "Return trace span ID in a header"

[2017-10-09 22:51] rshriram commented on #1389
Oh yes.. The idea behind routing is that you have multiple versions of a
service (each version in a deployment for example, though not necessary).
Your applications access the service by its hostname, while Envoy will do
the label based routing, based on the routing rules we supply.

Now, you could also create two ingress specs, each pointing to different
nginx services.. and then two routing rule

[2017-10-09 22:56] rshriram commented on #1422
isn't this a duplicate of v2 API issue ( #1257 ) ? Because as part of the move, ADS is a natural outcome.

[2017-10-09 22:58] kyessenov commented on #1422
Yes, it's a dependency, but we need to verify that it solves the issue and add regression tests.

[2017-10-10 13:59] sdake commented on #1237
subscribe

[2017-10-10 14:38] sdake commented on #292
subscribe

[2017-10-11 01:00] kyessenov opened #1426 "Incomplete tests: Move to Envoy v2 xDS API"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Move to Envoy v2 xDS API #1257_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recomm

[2017-10-11 01:03] kyessenov opened #1427 "Incomplete tests: Proper derivation of source and destination service attributes"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “Proper derivation of source and destination service attributes #1315 ” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned

[2017-10-11 01:09] kyessenov opened #1428 "Incomplete tests: Proxy configuration update without 404"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “Proxy configuration update without 404 #1422” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group lead

[2017-10-11 01:10] kyessenov opened #1429 "Incomplete tests: Add liveness and readiness probes to proxies and discovery services"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “Add liveness and readiness probes to proxies and discovery services #1421
” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assi

[2017-10-11 07:46] gyliu513 opened #1433 "Add ignoredNamespaces to sidecar initializer configMap"
More discussion here https://github.com/istio/istio.github.io/issues/648

[2017-10-11 17:22] ayj opened #1439 "istio-initializer fails to initialize jobs"
istio-initializer fails to initialize jobs. The same job can be properly initialized with `istioctl kube-inject` which suggests this is a problem with the initializer specifically and not the overall injection template.

* Steps to reproduce

[code]
The job creation will timeout. The initializer logs show that the apiserver thinks the pod template is invalid.

[code]

Discovered in https://github.

[2017-10-11 21:48] rshriram commented on #1419
What tests are needed? We have e2e tests in both pilot and istio

[2017-10-11 21:51] rshriram commented on #1412
@ijsnellf @GregHanson

[2017-10-11 22:11] rshriram commented on #1315
Based on whatever @smawson said, Envoy is already passing Host header. SNI support has been pushed to P1. So, I don't think we have anything else to do here, do we?

[2017-10-11 22:12] rshriram commented on #1429
This is a duplicate of the associated issue #1421. Also, liveness/readiness probes for Pilot's /health endpoint cannot be tested. We can just add them to our e2e tests.

[2017-10-11 22:14] rshriram commented on #1412
Just make sure that the code in these adapters is fully covered. Also, it would be nice to have a docker compose setup with circleci that spins up consul/eureka based environment and runs through Pilot presubmit and possibly e2e. The setup from amalgam8 might come in handy.

[2017-10-11 22:16] rshriram commented on #1413
@ayj if you think this is well tested, feel free to close this down. For the moment, assigning this to you since you worked on this.

[2017-10-11 22:18] #151 closed

[2017-10-11 22:24] rshriram commented on #216
#484  is tracking SNI support..

[2017-10-11 22:24] #216 closed

[2017-10-11 22:25] rshriram commented on #525
Superseded by egress rules.. and auth sorted out there.

[2017-10-11 22:25] #525 closed

[2017-10-11 22:27] #733 closed

[2017-10-11 22:28] costinm commented on #1315
What's the relation to SNI ?

On Wed, Oct 11, 2017 at 3:11 PM, Shriram Rajagopalan <
notifications@github.com> wrote:

[2017-10-11 22:29] kyessenov commented on #1419
Does fault injection work with ingress?

[2017-10-11 22:30] rshriram commented on #1020
close if no longer valid

[2017-10-11 22:31] #1071 closed

[2017-10-11 22:33] rshriram commented on #1414
https://github.com/istio/pilot/issues/730
https://github.com/istio/pilot/issues/484
https://github.com/istio/pilot/issues/533
https://github.com/istio/pilot/issues/731
https://github.com/istio/pilot/issues/805
https://github.com/istio/pilot/issues/926
https://github.com/istio/pilot/issues/969
https://github.com/istio/pilot/issues/1021
https://github.com/istio/pilot/issues/1389
https://github.com/i

[2017-10-11 22:36] rshriram commented on #1414
just FYI @smawson ^^^

[2017-10-11 22:39] rshriram commented on #1415
We have support for headless services and normal TCP services. We have plenty of tests in pilot and istio/istio. Please close this..

[2017-10-11 22:41] rshriram commented on #1417
Need to be able to specify external mongo/redis or generic TCP services, and be able to collect envoy metrics for connections to these services, and be able to apply circuit breakers for connections to these services

[2017-10-11 22:43] rshriram commented on #1416
Please close. This makes no sense. We have plenty of tests for http (and gRPC as well).

[2017-10-11 22:45] rshriram commented on #1419
Thats a separate *feature*, tracked under ingress bug.

[2017-10-11 22:46] rshriram commented on #1420
@liamawhite would you be able to tackle this? We need to annotate our test infrastructure nodes, and then launch Envoys with the availability zones.

[2017-10-11 22:47] rshriram commented on #1426
This is a duplicate of #1257

[2017-10-11 22:49] rshriram commented on #1428
Duplicate of #1422 which is a duplicate of #1257

[2017-10-11 22:50] rshriram commented on #1427
Duplicate of #1315

[2017-10-11 22:51] rshriram commented on #1392
This is still an issue as it causes downtime in K8S or Nomad.. Its silly to expect the platform to restart Pilot if it can't reach the API server.

[2017-10-12 02:56] linsun commented on #1414
subscribe

[2017-10-12 03:30] smawson commented on #1315
Note that host header and SNI are only useful for destination service, not source service. We need to handle both. The goal of SNI is to provide us the equivalent of the Host header, effectively.

One problem with Host header though is that in multi-hop scenarios it can be wrong, e.g. through Ingress it will give the external name instead of the local name. So we probably still need canonical serv

[2017-10-12 14:25] rshriram commented on #769
While some minimal form of session affinity support is landing in Envoy (https://github.com/envoyproxy/envoy/pull/1766), we need some more functionality, especially the ability of filters to inject http headers and then cause recomputation of routes. A few real and concrete scenarios to drive this use case:

1. ID based routing: This comes in handy when we have to route based on the identity encod

[2017-10-12 17:49] costinm opened #1457 "productpage shows error on product reviews: "Sorry, product reviews are currently unavailable for this book.""
@DanielWangZhanggui commented on [Wed Oct 11 2017](https://github.com/istio/issues/issues/95)

**Is this a BUG or FEATURE REQUEST?:** Bug

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[c

[2017-10-12 18:50] andraxylia commented on #1415
Closing as per confirmation from @rshriram

[2017-10-12 18:50] #1415 closed

[2017-10-12 19:08] andraxylia commented on #1418
~ 2 weeks

[2017-10-12 19:11] andraxylia opened #1458 "Incomplete tests: Eureka service registry"
Context: production readiness proposal and plan

The feature “Eureka service registry” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

Recommendations:

Come up with a test plan

[2017-10-12 19:13] andraxylia commented on #1412
Separated Eureka in another issue.

[2017-10-12 19:21] andraxylia opened #1460 "Incomplete tests: Ingress"
Context: production readiness proposal and plan

The feature “Cluster Ingress” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

Recommendations:

Come up with a test plan for how

[2017-10-12 19:37] geeknoid commented on #769
An important consideration is the entropy of the data being sent to Mixer for processing. Highly variable data, such as per-request JWT tokens, will completely neutralize the proxy->Mixer cache, causing each incoming request to have a synchronous round-trip to Mixer.

To support this scenario, we're thinking that some authentication tasks must be done in proxy proper.

[2017-10-12 20:18] costinm commented on #769
JWT tokes expire in ~1 hour - usually acceptable for cache purpose.

Of course, for RSA/EC-signed tokens validation can be done in proxy proper
- however for HMAC tokens it may
be safer to keep the secrets isolated (and not have proxy access or have to
integrate directly with various secret stores).

On Thu, Oct 12, 2017 at 12:37 PM, Martin Taillefer <notifications@github.com

[2017-10-12 20:43] kyessenov commented on #1460
dupe of #1414

[2017-10-12 20:43] #1460 closed

[2017-10-12 20:53] andraxylia commented on #1460
This tracks the tests, #1414 is an epic tracking all Ingress bugs.

There is a corresponding row in the test spreadsheet, if this is closed then the row must be marked as green.

[2017-10-13 00:18] andraxylia opened #1463 "Namespace annotation for sidecar injection"
Need to support annotation for sidecar.istio.io/inject for namespaces, similar to the one for workload, but higher precedence. IncludedNamespaces/ExcludedNamespaces are not under the control of the regular user.

https://istio.io/docs/setup/kubernetes/sidecar-injection.html#configuration-options

Moreover, it should work with hierarchical namespaces.

Precedence will be this and should be uniform

[2017-10-13 01:24] gyliu513 commented on #1463
@andraxylia I will work on this in 0.3 release

/cc @ayj @linsun @rshriram

[2017-10-13 17:46] ayj opened #1470 "CRITICAL: Istio initializer causing timeouts in kube API server"
@dcberg commented on [Thu Oct 12 2017](https://github.com/istio/istio.github.io/issues/660)

I have a situation with the 0.2.7 istio-initializer where I see kube API server timeouts when deploying pods. It appears that the problem happens only in a namespace that is NOT having the sidecar injected. This is very important point.

Here are the steps to recreate the problem.

1) Install istio-initial

[2017-10-13 17:46] ayj opened #1471 "CRITICAL: Istio initializer causing timeouts in kube API server"
@dcberg commented on [Thu Oct 12 2017](https://github.com/istio/istio.github.io/issues/660)

I have a situation with the 0.2.7 istio-initializer where I see kube API server timeouts when deploying pods. It appears that the problem happens only in a namespace that is NOT having the sidecar injected. This is very important point.

Here are the steps to recreate the problem.

1) Install istio-initial

[2017-10-13 18:09] dcberg commented on #1470
@ayj did you see my steps to recreate the problem? It is important that you set a namespace to have istio applied (e.g., `istio-demo`). When you do this then running in an ignoredNamespace will fail.

[code]

[2017-10-13 18:17] #1433 closed

[2017-10-13 18:23] ayj commented on #1470
No, I missed that step. But I see the problem. I'll send out a fix shortly.

[2017-10-13 19:11] frankbu opened #1472 "istioctl not defaulting ns to "default""
Istioctl doesn't seem to be defaulting the namespace. For example:
[code]
It works if I add `-n default` to the command.

I'm pretty sure this used to work, but is no longer working in 0.2.7.

[2017-10-13 21:22] andraxylia commented on #1463
thanks @gyliu513

[2017-10-13 21:29] andraxylia opened #1474 "Sidecar injection with mutating webhooks"

[2017-10-13 21:30] andraxylia opened #1475 "Tests :Sidecar injection with mutating webhooks"

[2017-10-13 21:36] ayj commented on #1471
dup of https://github.com/istio/pilot/issues/1470

[2017-10-13 21:36] #1471 closed

[2017-10-13 22:44] ayj opened #1477 "Istio injection is not working for modified Deployments."
@emaildanwilson commented on [Fri Oct 13 2017](https://github.com/istio/istio/issues/1130)

With istio injection running with a setting of `disabled` I'm experiencing an issue where Deployments which are modified to contain `annotations:
    sidecar.istio.io/inject: "true"` do not get injected with envoy. If they are deleted and recreated then the injection works.

The log shows `I1013 20:53:45.56

[2017-10-13 22:50] ayj opened #1478 "Ingress with host network"
@decker502 commented on [Thu Sep 28 2017](https://github.com/istio/istio/issues/984)

The `hostnetwork` configuration option of Deployment does not take effect, after pod started  the `80` and `443` port did not find

    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: istio-ingress
      namespace: istio-system
      annotations:
        sidecar.istio.io/inject: "fal

[2017-10-14 00:40] andraxylia commented on #1320
The configMap show what is configured, not the operational state.

[2017-10-14 02:18] wattli commented on #1320
The only way I can think of is via LDS/CDS, do you have any suggestions, Andra? One potential way can be let pilot to expose an API to indicate this, but that might be a little strange.

[2017-10-14 02:44] ldemailly commented on #1320
shouldn't the source envoy be able to tell if it's going to use (m)TLS or not on out calls?
and the destination if it requires it ?

[2017-10-14 02:48] mandarjog commented on #1320
If we allow enabling auth by service then istioctl could attempt to open an mtls connection to the service using kube port forward.

And then see which certificate it presents. That is proof positive.

[2017-10-14 02:52] ldemailly commented on #1320
to recap:
- mtls in configmap is the (current) input
- we could devise test that check what happens (like the 2e2 tests I added)
but that's not quite what is asked here which is (imo)
- what is the current live config of a given pilot (for a given envoy)
- what is the current live config of a given envoy

[2017-10-14 03:43] kyessenov commented on #1320
Port forward in kube is based on socat, and may not play nicely with
iptables. Not sure it's as much proof as trying to connect externally.

On Fri, Oct 13, 2017, 7:52 PM Laurent Demailly <notifications@github.com>
wrote:

[2017-10-16 14:49] linsun commented on #1472
Would not this be based on your current kubectl context and the namespace for the current context?

[2017-10-16 16:49] ayj commented on #1457
Is this a transient error, or does it persist after several minutes? The former is more likely after startup or configuration/service change due to config sync issue with Envoy xDS.

[2017-10-16 16:55] ayj opened #1498 "Request Headers Route Rule with composite services does not work"
@my3sons commented on [Sun Oct 15 2017](https://github.com/istio/issues/issues/98)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is I

[2017-10-16 18:37] GregHanson commented on #1457
I have seen this before on startup, usually resolves after a few seconds/page reloads as the cache is updated

[2017-10-16 18:48] #1472 closed

[2017-10-16 19:19] GregHanson opened #1501 "handling service registry client errors"
The current interface which the various service discovery clients implement is the following:

[code]

pilot/proxy/envoy/discovery.go calls this interface and updates its cache accordingly.  With the current interface, if the client experiences an error calling the consul/eureka/etc server, it will currently return an empty array, which discovery.go will updates its cache with and return the new e

[2017-10-16 19:31] rshriram commented on #1501
Lets start with 1. And possibly, along the way, split the handlers for consul, eureka, k8s, such that only one of the caches is cleared when service handlers are called, instead of clearing all caches.

There are several low hanging fruits in the cache and we need to have more finer grained cache invalidation.

[2017-10-17 05:25] charlesverdad opened #1512 "Redirecting all ingress http traffic to https"
I am looking for a way to redirect all site visitors to the https version of my site. Something like http 301 or 302 redirect. I was told that envoy has built in support for this and we just need a way to configure that with istio.

Here's my current ingress resource for reference:
[code]
Related:
https://groups.google.com/forum/#!topic/istio-users/8SIWVX6ZSK4

[2017-10-17 06:11] #1027 closed

[2017-10-17 06:13] #804 closed

[2017-10-17 13:53] vadimeisenbergibm commented on #1417
Proposed syntax - using CIDR notation in `service` field.

[code]

This rule will allow tcp connection to port 30000 for tcp protocol. Note that CIDR notation will be allowed for tcp protocol only, for example the following rule will be invalid:

[code]

@rshriram @kyessenov what do you think?

[2017-10-17 14:07] vadimeisenbergibm commented on #1417
Continuing with https://github.com/istio/pilot/issues/1417#issuecomment-337238578, domain notation could not be used for tcp, so the following rule will not be valid:
[code]

[2017-10-17 14:25] rshriram commented on #1417
@vadimeisenbergibm this sounds pretty good. Also, the restriction applies IF and ONLY If there is a CIDR notation. If user specifies simple IP address, then she should still be able to define HTTP protocol.

Another thing that is missing is mongo, redis. I think for Mongo, the same principle as TCP would apply (use CIDR notation). But for Redis, the client connects to Envoy and envoy picks an upst

[2017-10-17 14:47] nmnellis commented on #1417
surprisingly this worked for us when talking to the EC2 metadata service
[code]

[2017-10-17 14:49] vadimeisenbergibm commented on #1417
@nmnellis - this is by design, according to the envoy's virtual host configuration. CIDR notation would not work, e.g. "169.254.169.0/24".

[2017-10-17 14:51] vadimeisenbergibm commented on #1417
@rshriram I confused with regard to mongo and redis. How the mongo and redis clusters will be configured, in the envoy configuration? Will the istio user provide custom envoy configuration for Istio, that will contain mongo and redis clusters?

[2017-10-17 15:58] rshriram commented on #1417
We already support Mongo and redis. The user would do something like
[code]

or in a simpler way:

[code]

We would setup a listener on port 3308, with the Mongo filter installed and use the orig_dst cluster. Business as usual :). The benefit is that we get metrics for mongo/redis.

Now, there is one caveat here: using TLS origination. One option is to add a new protocol MONGO-TLS.. Or we just add

[2017-10-17 18:32] vadimeisenbergibm commented on #1417
@rshriram agreed regarding `use_tls: true`. With SNI support in Envoy https://github.com/envoyproxy/envoy/issues/1843 we could support real HTTPS.

[2017-10-17 18:35] ayj commented on #1474
Initializers will not be beta in k8s 1.9. Instead the k8s API machinary SIG's plan is to push mutating webhooks to beta in 1.9. The automatic sidecar injection feature should use these mutating webhooks instead of the initializer mechanism.

Ref https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/OTApxKFiGt8

[2017-10-17 18:35] ayj commented on #1474
/fyi @gyliu513 @linsun

[2017-10-17 19:08] ayj commented on #1475
/fyi @linsun @gyliu513

[2017-10-17 19:17] linsun commented on #1474
thank you @ayj !

[2017-10-17 19:22] kyessenov commented on #1501
The client of the registry already does caching (the discovery service that ultimately constructs the config). So adding another caching to the model adaptor seems redundant. Perhaps, returning an error indicator for "retrying later" is a good option then. I agree that returning an empty array on error is not a good behavior.

[2017-10-17 21:18] #1470 closed

[2017-10-18 15:10] cmluciano commented on #608
Has there been any progress on this? I'm guessing that we still may not have numbers that we are confident will span small/large clusters, but users are struggling with this when they use the Horizontal Pod Autoscaler (as mentioned above by @frankbu).

[2017-10-18 15:16] linsun commented on #608
Adding the production readiness label because auto scale of micro service app is a fairly common scenario, and this breaks auto scale without being able to get the metrics for the side car.  Some user actually hit this today, Error msg:

Kubectl describe hpa shows
`Conditions:
  Type        Status    Reason            Message
  ----        ------    ------            -------
  AbleToScale    True

[2017-10-18 15:19] linsun commented on #608
cc performance team for recommendation on request cpu/mem for side car @ldemailly @ayj @suryadu

[2017-10-18 15:22] gyliu513 commented on #608
With istio initializer, we now support customizing the `initImage`, `proxyImage` etc, perhaps we can also add the resource request as parameter in the configMap?

https://github.com/istio/pilot/blob/master/test/integration/testdata/initializer-configmap.yaml.tmpl

[2017-10-18 16:42] andraxylia commented on #608
@cmluciano do you want to take this one?

[2017-10-18 18:19] cmluciano commented on #608
@andraxylia Sure

[2017-10-18 23:16] emaildanwilson commented on #1477
I can dig in and try to fix this if you agree it's broke and should work.

[2017-10-18 23:48] ayj commented on #1477
Copying my response from https://github.com/istio/istio/issues/1130)

[2017-10-18 23:55] ayj commented on #1477
I'm not sure this problem is easily solvable while we're using initializers for automatic injection. However, this may be solvable when add support for mutating webhooks.

ref https://github.com/istio/pilot/issues/1474

[2017-10-19 01:34] linsun commented on #1477
I think this is a corner case and we can document as a 0.2 limitation, given we are planning to switch to mutating webhooks also.

[2017-10-19 16:43] emaildanwilson commented on #1477
Thank you, that makes sense.
I can workaround this for now by changing our deployment process.

[2017-10-20 00:33] shalako opened #1557 "Relational database adapter for Pilot config store"
Cloud Foundry Routing team is offering to submit a PR for an adapter and runtime options to use it.

Proposal: https://docs.google.com/document/d/16SexdTBgKyhM3ebUB4eVk-lJSXwiCDdJwH3L9yShf5o/edit?usp=sharing

[2017-10-20 00:35] kyessenov commented on #1557
cc @louiscryan @smawson

[2017-10-20 13:07] rshriram commented on #1417
Can I assign this issue to you ?

[2017-10-20 16:06] cmluciano commented on #1557
cc @xiaolanz for Config WG

[2017-10-20 19:42] shalako opened #1566 "Diego BBS adapter for Pilot platform data"
Cloud Foundry Routing team is offering to submit a PR for an adapter and runtime options to use it.

Proposal: https://docs.google.com/document/d/16SexdTBgKyhM3ebUB4eVk-lJSXwiCDdJwH3L9yShf5o/edit?usp=sharing

@cmluciano

[2017-10-20 19:48] cmluciano commented on #1557
cc @istio/pilot-hackers

[2017-10-20 19:50] cmluciano commented on #1566
cc @istio/pilot-hackers

[2017-10-20 20:01] shalako commented on #1566
In Istio Slack #cloudfoundry, @kyessenov said:

Thank you!

[2017-10-20 20:01] shalako commented on #1557
In Istio Slack #cloudfoundry, @kyessenov said:

Thank you!

[2017-10-20 20:15] rshriram commented on #1557
This is cool. Looking forward to the PRs. I would suggest getting started with the concrete PRs for platform and config adapters. When the config story materializes, we can align the code, instead of waiting few months for the config system to land.

[2017-10-20 20:16] rshriram commented on #1566
Do you have an ETA on when these platform adapters will be complete?

[2017-10-20 20:24] smawson commented on #1557
I'm very worried about ecosystem fragmentation if we support multiple configuration APIs for istio. Having multiple config stores will also cause problems for the hybrid / multi-zone configuration model. So I don't think this makes sense to do.

Instead we should just run the istio config API inside cloud foundry, just like we do in all environments. I'd like to understand why that wouldn't be an

[2017-10-20 20:50] andraxylia commented on #1557
Can you please send the proposal to istio-networking email as well, with a pointer to the issue?

[2017-10-20 21:20] ayj commented on #1413
Moving  testing infrastructure to k8s 1.8 and additional changes are required to enable this feature end-to-end. Probably about a weeks worth of effort to update the code to work out-of-box with k8s 1.8.

/cc @istio/test-infra-hackers for updating testing infrastructure to GKE 1.8

[2017-10-20 21:26] shalako commented on #1566
We plan to start next week. Don't have an ETA :)

[2017-10-20 22:38] yutongz commented on #1413
Since it's already Friday afternoon, let's do this on Monday.

[2017-10-21 16:48] mcwienczek opened #1581 "bazel 0.7 - make setup fails with bazel error on macOS"
`make setup` fails with new repo.
Bazel version:
Build label: 0.7.0-homebrew
Build target: bazel-out/darwin_x86_64-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Oct 19 09:12:48 2017 (1508404368)

[2017-10-21 17:28] dcberg commented on #1470
Which release can I expect this fix to be delivered?
I just verified that the problem still exists in the 0.2.9 release.

[2017-10-21 17:43] ayj commented on #1470
0.2.10

Initializer fixes didn't make 0.2.9 cut-off but have been cherry-picked
into 0.2 branch.

[2017-10-21 20:49] dcberg commented on #1470
Thanks @ayj

[2017-10-23 17:24] yutongz commented on #1413
It turns out, GKE hasn't gone that fast to provide 1.8 clusters.

[2017-10-24 14:50] andraxylia commented on #638
Clarification for the first part of this issue "Traffic should be treated as in-cluster after being accepted by the Ingress":
It is supported: ingress traffic to a URL is first mapped to the destination service:port based on the k8s ingress resource config, then it is subject to the Istio routing rules configured for that destination service.

[2017-10-24 16:48] rshriram opened #1613 "Use readable cluster names in stats"
Currently, the cluster names are using cryptic shas. This is not useful from monitoring perspective, since end users cannot decode these shas. Envoy now has the ability to use configurable cluster name lengths. (--max-obj-len). We need to use this option to start Envoy with larger max obj lengths (189 characters), and use plain cluster names where possible. When the cluster name exceeds 189 charac

[2017-10-24 16:49] rshriram commented on #1613
cc @nmnellis @fabolive FYI. Nick, once we have this fixed, you will see full cluster names in your prometheus feeds.

[2017-10-24 17:07] kyessenov commented on #1613
We still node some hashing since the cluster names currently may include key-value pairs as well, and those are 64 characters each.

[2017-10-24 17:25] rshriram commented on #1613
Right.. so, if the net name length is less than the max length, we can stick with it as is. If it exceeds the length, then we truncate, have some readable prefix and then the SHA.

[2017-10-24 19:20] vadimeisenbergibm commented on #1417
@rshriram Sure, please assign the issue to me.

[2017-10-24 19:24] vadimeisenbergibm commented on #1417
@rshriram I wonder what will be gained by supporting MongoDB and Redis protocols explicitly, instead of plain TCP?

[2017-10-24 19:46] rshriram commented on #1417
More metrics and control :). If we are supporting TCP, might as well support the other non HTTP protocols as well.

[2017-10-25 11:52] kadamvandita opened #1622 "Build fails on Intel for Istioctl(pilot)"
Hi ,

The pilot version used is 0.2.9 and bazel version used is 0.7.0

The pilot build fails on x86 with error ERROR: /usr/local/go/src/istio.io/pilot/tools/version/BUILD:3:1: in go_library rule //tools/version:go_default_library:
Traceback (most recent call last):
        File "/usr/local/go/src/istio.io/pilot/tools/version/BUILD", line 3
                go_library(name = 'go_default_library')

[2017-10-25 12:08] ketank-new commented on #1622
I have been trying to build the same version of pilot on intel machine
Used bazel version 0.7

Some inputs on thsi will be very helpful from istio dev team

[2017-10-25 13:38] ymesika commented on #1581
@mcwienczek I have the same bazel version with macOS High Sierra and it works without any error.
What was the change that you've made to init.sh?

[2017-10-25 15:15] cmluciano commented on #1581
@mcwienczek Feel free to send a PR if something seems off

[2017-10-25 17:47] mcwienczek commented on #1581
Thank you @cmluciano but I'd rather discuss it first so that I don't spend a lot of time developing something that will be rejected later on.

this is the code that I've changed:

line 12

From
[code]

To
[code]

[2017-10-25 18:04] ymesika commented on #1581
@mcwienczek Those flags were added only few days ago as part of #1493 by @rshriram .
I tried with your flags on High Sierra and no errors so if it solves your errors I suggest PRing it.
@rshriram are you running on Sierra or High Sierra?

[2017-10-25 18:16] mcwienczek commented on #1581
Thank you. Created a PR to fix the issue :)

[2017-10-25 18:17] rshriram commented on #1622
Can you use bazel 0.6.x? Thats what we are using in our CI/CD as well

[2017-10-25 18:17] rshriram commented on #1622
Unfortunately, bazel is not all that backward compatible.

[2017-10-25 18:19] ymesika commented on #1581
@mcwienczek I am also wondering if those flags are indeed needed because they weren't their before. Maybe we can wait for @rshriram view on why they where added.
Do you get the errors when you remove it?

[2017-10-25 18:22] mcwienczek commented on #1581
Yes, after removing that conditional statment I am getting different error:
[code]

[2017-10-25 18:23] rshriram opened #1625 "destination.labels is ignored in weighted rule"
Weighted route rules allow using IstioService object as a way of specifying the destination (https://istio.io/docs/reference/config/traffic-rules/routing-rules.html#destinationweight). IstioService object has the notion of labels, name/namespace, etc. However, the weighted route rule (DestinationWeight object) also has the notion of labels as a separate field. Fortunately, no one has discovered th

[2017-10-25 18:26] kyessenov commented on #1625
Deprecating labels in destination weight would be nice (although a bit verbose).
I think the code does check for this case, or least it's documented here: https://github.com/istio/api/blob/master/proxy/v1/config/route_rule.proto#L157

[2017-10-25 18:35] mossuchida commented on #1417
Can the app directly connect to the backend servers instead of going through the sidecar?  It will add additional network overhead. Also, it will use additional resources from sidecar that will cause additional performance impact.  I also don't want the app to go through sidecar to connect to other pods.  ISTIO should be used only when user is accessing to the app.

[2017-10-25 19:35] frankbu commented on #1625
At one point during the design we had two different proto messages for the source and destination fields, because destinations don't use labels. We simplified to use IstioService for both and added the doc: "When used for a RouteRule destination, labels MUST be empty."

[2017-10-26 05:13] ketank-new commented on #1622
@rshriram : Thanks for the reply
as per your suggestion i have moved back to bazel 0.60, using same version for pilot that is 0.2.9
When i start the build with command "make setup"

I get the below error

root@878a9e4f0af9:/usr/local/go/src/istio.io/pilot# make setup
++ pwd
+ PDIR=/usr/local/go/src/istio.io/pilot
+ '[' /usr/local/go/src/istio.io/pilot '!=' /usr/local/go/src/istio.io/pilot ']'
+ ba

[2017-10-26 08:43] ketank-new commented on #1622
also with bazel 0.6.1 we face the same issues

++ pwd
+ PDIR=/usr/local/go/src/istio.io/pilot
+ '[' /usr/local/go/src/istio.io/pilot '!=' /usr/local/go/src/istio.io/pilot ']'
+ bazel build //...
.....................
ERROR: /root/.cache/bazel/_bazel_root/2325d0d2e5f42b9a686a34f251405905/external/io_bazel_rules_go/go/private/binary.bzl:226:48: name 'lib' is not defined (did you mean 'libs'?).
ERROR

[2017-10-26 09:37] ketank-new commented on #1622
@rshriram : We would also like to know if you have build istio/pilot project on x86 before, is yes than could you share the build steps

[2017-10-26 16:15] mcwienczek commented on #1581
@ymesika my PR fails on one test, could you helm me identify the problem? I don't see anything that could be broken because of my PR.

[2017-10-26 16:22] ymesika commented on #1581
@mcwienczek I don't think it's your fault because every pilot build in the last days fails.
see here: https://circleci.com/gh/istio/pilot

[2017-10-26 16:53] rshriram commented on #1622
Our test infrastructure is on X86. and its using bazel 0.6.0. When you downgraded, did you do bazel clean --expunge? Typically, after changing bazel versions, you should wipe everything clean and start from scratch.

[2017-10-26 17:55] rshriram commented on #1581
I added those -k8 flags because sometimes, we want to build the docker images on Mac and test with minikube (pointing docker client to docker in minikube). If those flags are missing, then we end up compiling for Mac and that doesn't run on Linux.

That said, with some more make targets, it should be easy to isolate the --cpu=k8 or whatever appropriate flag to something like make cross-compile or

[2017-10-26 17:57] rshriram commented on #1581
Oh this is bazel 0.7.. That probably explains.. can you stay on bazel 0.6 ?  I have no idea what goes on in that bazel black box when you use an older io_rules_go with newer bazel.

[2017-10-26 17:58] #1581 closed

[2017-10-26 17:59] mcwienczek commented on #1581
Sure thanks for help!

[2017-10-27 05:10] ketank-new commented on #1622
@rshriram : Thanks for the reply , I have followed your steps to use "bazel clean --expunge"
followed by this i have restarted the build using "make setup" and i get the same error.

ERROR: /root/.cache/bazel/_bazel_root/2325d0d2e5f42b9a686a34f251405905/external/io_bazel_rules_go/go/private/binary.bzl:226:48: name 'lib' is not defined (did you mean 'libs'?).
ERROR: error loading package '': Extens

[2017-10-27 06:56] kadamvandita commented on #1622
hi @rshriram ,

I tried pilot build for version 0.2.9 with bazel 0.6.0 on Intel.Got libs related error as mentioned by @ketank-new . Also cleaned the previous bazel  build with "bazel clean --expunge" command,but the same above error persists.

The error is as follows:
++ pwd
+ PDIR=/usr/local/go/src/istio.io/pilot
+ '[' /usr/local/go/src/istio.io/pilot '!=' /usr/local/go/src/istio.io/pilot ']'
+

[2017-10-27 18:31] jmuk opened #1637 "fails to create mixer configs when namespace field is empty"
derived from https://github.com/istio/issues/issues/110, the same discussion can be applied to the mixer config, and that is not solved. Indeed, some mixer configs in the current bookinfo samples are in this situation, thus:

[code]

[2017-10-27 18:35] ZackButcher opened #1639 "Compute Envoy config eagerly rather than on-demand"
Today Pilot implements Envoy's v1 xDS APIs, which are pull based: Envoy sends a request, we compute the config it needs (cache it), then reply to Envoy. As a result of the current implementation, we don't keep track of which Istio config was used to construct Envoy's config. This means we have poor caching (we invalidate the entire config cache when any Istio config changes), and means we don't kn

[2017-10-27 18:36] ZackButcher commented on #1639
Unfortunately I don't have permissions to add labels or update assignees. cc @rshriram @kyessenov

[2017-10-27 18:37] ZackButcher commented on #1257
Related, we need to change how Pilot computes Envoy config to move from the pull based model of today to the push based model of the v2 xDS APIs. https://github.com/istio/pilot/issues/1639

[2017-10-27 19:08] linsun opened #1640 "istioctl kube-inject doesn't work when my pod has 2 containers"
I'm having a 2 container pod and using `istioctl kube-inject` didn't see istio-proxy side car injected.

A simple test yaml from a tutorial (https://www.mirantis.com/blog/multi-container-pods-and-container-communication-in-kubernetes/)

[code]

[2017-10-27 19:33] kyessenov commented on #1639
Something to keep in mind is that the cache has to keep track of old versions to be able to stage updates across xDS. We should remove stale versions only when no proxy is utilizing it.

[2017-10-27 19:34] GregHanson commented on #1501
resolved by #1610

[2017-10-27 19:34] #1501 closed

[2017-10-27 19:50] ayj commented on #1640
I don't think this has to do with number of containers per pod. `kind: Pod` is missing from the list of supported resource kinds [here](https://github.com/istio/pilot/blob/43f959cef4e71826244bf537e05362240ea8f3e2/platform/kube/inject/initializer.go#L69) and [IntoResourceFile](https://github.com/istio/pilot/blob/43f959cef4e71826244bf537e05362240ea8f3e2/platform/kube/inject/inject.go#L543) only inje

[2017-10-27 20:03] baodongli opened #1641 "Add a script to query pilot for proxy configurations"
Per Istio Networking Roadmap: https://docs.google.com/document/d/1oLiEkescgAbUmv7ZsAW-W4_4g4xmrpbnOpyo6yfn06A/edit#heading=h.x9snb54sjlu9, there is a feature in the Debuggability section to introspect on Pilot. Open this issue to track the effort.

[2017-10-27 20:22] andraxylia commented on #1639
Before we make this optimization, we have to check if it is needed, determine the breaking point, the number of pods or the conditions justifying it.

[2017-10-27 20:31] ZackButcher commented on #1639
To be clear, the optimization is in the caching. Regardless of caching/performance, we need to invert config generation so its eager so that we're ready for the push-based world of xDS v2.

[2017-10-27 20:34] kyessenov commented on #1639
To @andraxylia 's point, we're stuck with v1 until we can prove v2 performs better. The work will have to happen in a separate envoy adapter module (`proxy/envoy2`) since this is a large effort.

[2017-10-27 20:41] ZackButcher commented on #1639
How are we sequencing things? I thought we had to move to v2 APIs to address the 404 issues, which means we need to land updated config handling in 0.3 as well.

[2017-10-27 21:19] andraxylia commented on #1639
My point was about avoiding premature optimization, and relative to the caching/invalidation  of the config. I would defer this to when/if needed. We still need to prepare the config for each Envoy instance.

We are not stuck with v1, we want to move to v2, and we do not need to prove it performs better than v2, just that the pilot implementation of v2 is production ready. We should also have a wa

[2017-10-27 21:27] kyessenov commented on #1639
The work has moved to a new envoy org project as there is a lot of complexity in the push/streaming interface. It's definitely far from a single issue/epic.
I can't vouch that we can reach parity with v1 since there are some serious semantic differences (deprecation of `bind_to_port` that need to be reconciled).

[2017-10-27 22:11] shalako commented on #1566
We've begun implementation. Our progress can be tracked in https://www.pivotaltracker.com/story/show/151465998

[2017-10-27 22:11] shalako commented on #1557
We've begun implementation. Our progress can be tracked in https://www.pivotaltracker.com/story/show/151465998

[2017-10-27 23:55] #1007 closed

[2017-10-28 01:25] rshriram commented on #1639
@andraxylia how do you envision the 404s can be solved with v1? I would be interested in exploring that solution.

[2017-10-28 01:37] rshriram commented on #1566
How do I comment on that thread?
Anyway I had a quick look at the code. It seems  to follow standard
patterns for consul and eureka, which is nice. It would be really nice if
you could have some form of integration test (with or without mocks).

I would also suggest starting the code contributions now rather than later,
so that we can have small PRs that allow for better review.

On Fri, Oct 27, 2

[2017-10-28 06:35] wuzhihui1123 commented on #1226
I have the same problem ,  I Solve problems by deleting all old crd of  config.istio.io

![image](https://user-images.githubusercontent.com/4246626/32131966-2d64f9dc-bbed-11e7-8f70-b757ac4fddfd.png)

[2017-10-28 16:00] costinm commented on #1639
There are several ways to solve the 404. The most direct is to fix Envoy, so it returns 503 as expected.
AFAIK there is no technical reason to return a 404 if a route exists but the cluster is not yet available.

The solution that I am proposing is to change the proxy agent, and have it download the full config before
starting envoy, and act as a local caching proxy. The primary goal of this will

[2017-10-28 19:54] smawson commented on #1557
Following up on my comment, it sounds like etcd is the primary issue, we should see if we can resolve that in coordination with the config API group.

[2017-10-28 20:51] kyessenov commented on #1639
I think using the agent to serve xDS is an interesting solution for stickiness of the updates. The agent can sequences the polled updates in the order that Envoy would always have internally consistent view of the config. The logic to sequence updates is required in v2 implementation, so this is just moving it closer to the proxy.

The downside is the increase in the complexity in the agent. We've

[2017-10-29 07:12] xiaolanz commented on #1557
One possible config design is that each zone maintains a separate config store. There is only one "master Galley" exposing config API and rolling out configs to all the zones. The zone-local config store is pluggable, which can be either in etcd or other implementations.

This way, we don't need to deal with multi-zone distributed config convergence. Each zone will get the performance benefit from

[2017-10-29 15:54] rshriram commented on #1639
It is also taking us back to the state 8 months ago when we did this in the agent. I don’t see any advantage of double caching in the proxy agent and Envoy. Envoy automatically falls back to the cached version if pilot is unavailable. That has been our design since day 1. So the argument about helping in hybrid/onprem doesn’t seem convincing. I also don’t see how it will reduce complexity (if any)

[2017-10-29 17:21] htuch commented on #1639
@rshriram no need for this local cache. As you correctly state, if a management update fails, the last valid config remains latched and in effect.

[2017-10-30 01:41] mattklein123 commented on #1639
Agreed, there is no reason to cache anything on the node.

re: 404 vs. 503, there are legitimate reasons why someone may want to return 404 in this scenario. Having an option to return 503 instead in the case the cluster is not found is trivial. Someone just needs to do the work (https://github.com/envoyproxy/envoy/issues/1820).

[2017-10-30 09:33] kadamvandita commented on #1622
Hi @rshriram

I tried building other istio components like CA,auth etc for version 0.2.9 with bazel version 0.6.0. They also fail with similar error as reported above ( same error with which pilot build failed).

Please let us know your comments on this.

[2017-10-30 10:35] kadamvandita commented on #1622
Hi @rshriram ,

I tried building pilot latest verison (0.2.10) with **lower bazel version (0.5.4).** The build was successful . But the readme of pilot mentions to use 0.6.x and above. (https://github.com/istio/pilot).  Is it advisable to build pilot with a lower version like (0.5.4) or continue its build with 0.6.x and above.

Please let us know your comments on this.

[2017-10-30 15:42] costinm commented on #1639
Envoy returning 503 plus the 'liveness' check at startup will take care of
the 404 bug, and I think it is the right solution.

Regarding 'cache on the node' - there are reasons beyond the 404, and it is
not the same with what we had 8 months ago.
Envoy does indeed gracefully deal with pilot unavailability - but in case
of a DDOS it is likely that both pilot and some
of the ingress and backends wil

[2017-10-30 16:03] ayj commented on #1622
The minimum required bazel version was updated to 0.6.x _after_ we created 0.2.x branch. The 0.2.10 release requires the older bazel version (e.g. 0.5.4).

[2017-10-30 16:11] costinm commented on #1639
One extra note on the subject - in a hosted environment, with very large number of domains (
like 'custom domains' in the case of a hosted app ), keeping the entire routing/listeners in pilot's
memory becomes impossible, and it's not really needed since envoy already caches the stable
config (and agent combined with some memcache could also do it on a local level).

So long term I don't think the

[2017-10-30 17:09] arbarlow commented on #928
Not sure if it's relevant here, but it would be also super useful to be able to use the [gRPC web filter](https://www.envoyproxy.io/envoy/configuration/http_filters/grpc_web_filter) that's available and in general have a bit access to Envoy filters etc, thoughts?

[2017-10-30 17:10] arbarlow commented on #928
Happy to open a separate issue if need be

[2017-10-30 17:25] rshriram commented on #1639
I don't think ```Envoy returning 503 plus the 'liveness' check at startup will take care of
the 404 bug, and I think it is the right solution.``` takes care of 503s or 404s fully. Everytime you change a route rule, you will hit this and the chances of hitting this depends on your polling interval. You can solve this by having a temporary local cache, but thats a short term solution, until V2 api l

[2017-10-30 18:39] #1637 closed

[2017-10-30 20:03] lizan commented on #928
gRPC-web should be a separate issue, feel free to open it, and it should be easier than transcoding since the proxy doesn't have to know about the proto descriptor.

[2017-10-30 20:18] cmluciano commented on #1416
Do we still want this? @rshriram has anything changed since your comment?

[2017-10-30 20:22] cmluciano commented on #1420
/assign @liamawhite

[2017-10-30 20:27] cmluciano commented on #1419
I'm fine to work on this @andraxylia , but I thought that we were blocked on Ingress issues until the new API stuff comes out

[2017-10-30 20:28] cmluciano commented on #1413
/assign

I will be helping with this feature

[2017-10-30 20:28] cmluciano commented on #1419
/assign

[2017-10-30 20:29] cmluciano commented on #1475
/assign

I will be helping with this feature

[2017-10-30 20:35] cmluciano commented on #908
/assign

[2017-10-30 20:35] cmluciano commented on #1421
/assign

[2017-10-30 20:37] cmluciano commented on #1421
/close

dup of #1429

[2017-10-30 20:37] cmluciano commented on #1429
/assign

[2017-10-30 22:38] arbarlow opened #1663 "gRPC-web"
As discussed in https://github.com/istio/pilot/issues/928 it would great if Pilot could enable Envoy's gPRC-web filter so that browsers can interact with backend gRPC services directly (useful for admin interfaces etc).

Also, in general, it would great to get a bit more control over Envoy config for filters etc, being a more useful ingress, getting closer to to nginx ingress for usefulness!

[2017-10-31 01:34] andraxylia commented on #1416
Don't we need some tests for conversion http <--> grpc or some scale tests? While we can limit fault injection or multi-zone tests to a small scale, if we need to test with a higher scale, this is the area where we could do it.
Are we happy with what the tests check for?

[2017-10-31 10:43] kadamvandita commented on #1405
I tried building rules_go for s390x, The version of rules_go used is 0.5.4, and version of bazel used is 0.5.4.

Its failing with error:
ERROR: /home/test/.cache/bazel/_bazel_test/c509b597658b872a6b74db25bd62d9f3/external/io_bazel_rules_go/go/tools/extract_package/BUILD:26:1: Traceback (most recent call last):
        File "/home/test/.cache/bazel/_bazel_test/c509b597658b872a6b74db25bd62d9f3/exter

[2017-10-31 15:43] andraxylia commented on #1419
@rshriram Fault injection is configured via routing rules, so it should not be blocked on Ingress work, but in any case, if this is not currently working, we can have the tests ready and enable them later. Do you plan to change them as not to be configured via routing rules anymore, as part of the better ingress?

Currently, we have coverage for Fault Injection with Timeouts, in UT, pilot integrat

[2017-10-31 15:50] andraxylia commented on #1639
@mattklein123 would you agree that adding support in Envoy for snapshotting/checkpointing current running config is the right thing to do to allow data plane to correctly function if the control plane is partitioned, and Envoy needs to restart or hot-restart on the same host? There will be no control plane to provide clusters and listeners, so traffic will be lost.

[2017-10-31 15:52] mattklein123 commented on #1639
No. I think this is complexity that is not actually needed and is more likely to lead to an outage than the situation it is trying to cover for.

[2017-10-31 17:21] costinm commented on #1639
Shriram: the 503 on route rule change happens only when the cluster is
missing, i.e. for a brand new service. AFAIK it doesn't happen if you
change rules
for an existing service/cluster.

Having a local cache is not useless - the main use case is hybrid and HA
cases. In particular since Matt indicated he doesn't believe a checkpoint
in
Envoy is the right solution, as cache is even more important t

[2017-10-31 17:22] htuch commented on #1639
Also, Envoy may be deployed in a diskless scenario (or read only storage), so there inherently needs to exist a story for configuration recovery that doesn't rely on this.

I think a useful first step in this discussion is to get a clear picture (and consensus) on what the failure scenarios that Istio considers important are. There have been various suggested, can we get a doc written?

[2017-10-31 17:29] costinm commented on #1639
I agree snapshot/cache is complexity that may not be needed in envoy, and
is better handled by the DS infrastructure.

I've been involved in a few outages caused by this kind of cascading
failure ( and maybe caused a couple as well :-) -
the goal is to gracefully deal with cases where a component is down. Mixer
already handles this (fails open), envoy
partially handles it by using last known confi

[2017-10-31 23:58] nmahoney-pivotal commented on #1566
@rshriram We've run into [a decision point that we are unsure about in pilot-discovery](https://github.com/istio/pilot/blob/master/cmd/pilot-discovery/main.go#L212-L226). We are trying to allow `pilot` to run without kubernetes, and we could use some guidance. We are planning on allowing users to pass in something like `--registries=cloudfoundry` and `--configStore=inMemory`. This would use Cloud

[2017-11-01 00:18] andraxylia commented on #1566
The automatic injection admissionController only makes sense if the platform is kubernetes. CF can work with manual injection (istioctl kube-inject)

The validation admissionController is used for config validation @ayj @costinm can the webhook validation happen outside of the k8s platform, like for instance in VMs, and is it included with the kube-api server?

[2017-11-01 03:20] rshriram commented on #1566
Stick to option 1. Along the way, please move this code into the switch
block. This code should never have been outside kubernetes. Sorry about the
trouble.

@ayj would you please move this logic under the kubernetes switch case? We
can’t run this in Consul or eureka in reliable fashion.

On Tue, Oct 31, 2017 at 8:18 PM Andra Cismaru <notifications@github.com>
wrote:

[2017-11-01 03:39] rshriram commented on #1639
On Tue, Oct 31, 2017 at 1:29 PM Costin Manolache <notifications@github.com>
wrote:

Yes and that why all the restarts are being eliminated. With v2, there is
no restart.

Not in agent or disk. Means the DS server. And server has the cache.

Let’s use the word carefully. Hybrid means on prem plus cloud. I don’t know
what you mean here. And what outage scenario as Harvey indicates. Having a
crystal

[2017-11-01 03:43] rshriram commented on #1419
On Tue, Oct 31, 2017 at 11:43 AM Andra Cismaru <notifications@github.com>
wrote:

We just need this. Nothing wise.

we know that fault injection does not work for ingress. There is a
structural issue here (hard to explain. Will be apparent when you read the
ingress.go code).

[2017-11-01 04:06] ayj commented on #1566
Option #3 looks good to me. The `admissionController` provides server-side configuration. It is a function of the `configStore` (e.g. k8s-apiserver) and not the service registry platform.

I haven't validated [external admission webhooks](https://kubernetes.io/docs/admin/extensible-admission-controllers/#external-admission-webhooks) with standalone k8s-apiserver instructions for Consul/Eureka, but

[2017-11-01 05:22] kadamvandita commented on #1405
Can we use lower version (0.5.4) bazel to build go_rules latest version?

[2017-11-01 14:38] costinm commented on #1639
Will move the discussion on how to 'fail open', HA and avoiding cascading failires to separate document, it's a different topic.

On the 404: I think it is clear that 503-if-cluster missing and liveness checks will mitigate some of the
problems and will both be needed even with v2. While v2 may return a full and consistent config - it doesn't avoid the interval between startup and getting the init

[2017-11-01 15:55] rshriram commented on #1639
```While v2 may return a full and consistent config - it doesn't avoid the interval between startup and getting the initial config, ```
Needs to be solved with health checks.

[code]

[2017-11-01 16:31] Promaethius commented on #335
What's the status on this? Istios documentation says it's not ready but all the pull requests and issues are merged and closed respectively.

[2017-11-01 16:45] ldemailly commented on #335
@Promaethius can you provide a link to where it says it's not ready ?

[2017-11-01 16:50] costinm commented on #1639
I see the comment that "Yes, a route rule can introduce a new cluster (for special version, for example)" -
I'm not familiar enough with the weighted routing rules, do you have any pointers on where the new
cluster gets introduced ? If we can decouple the creation of clusters / services from route changes - we
would have a pretty good fix for this.

It seems we agree that healthchecks / liveness c

[2017-11-01 17:23] Promaethius commented on #335
https://github.com/istio/pilot/blob/master/doc/proxy-injection.md
https://istio.io/docs/reference/commands/istioctl.html#istioctl-kube-inject

[2017-11-01 18:09] rshriram commented on #1639
new clusters are created because of route changes (version split). An existing service's cluster is split into multiple newer clusters, and traffic is split by weights. This involves changing the route config to use weighted clusters and pushing those new clusters to envoy. And this is where the 404s/503s are occurring. and thats the whole reason for v2 push api.

[2017-11-02 06:50] kadamvandita commented on #1622
Hi @rshriram

The pilot source code is moved to old_repo in github . Is it like the some new code is being added there , or pilot code is being moved out.

We found pilot code in master branch. Why is the structure changed?. How will it affect the build steps.

Please let us know on this.

[2017-11-02 07:04] kadamvandita commented on #1405
Hi @rshriram ,

I have built go_rules with s390x support. Need to knw how to incorporate rules_go in the pilot source
code.

[2017-11-02 10:19] arief-hidayat commented on #925
This issue is closed and seems to be fixed but I am facing the same issue.

I tried proxy_debug 0.1.6 as well as latest version 0.2.10.
Both still giving me

@maruina , how do you fix your configuration?

[2017-11-02 10:46] prune998 commented on #925
I had it working with this setup (istio 0.2.10) :

[code]
It does not work if you set a Host field... I don't remember if it's working with a Path selection (I think yes, but you have to be careful not to use dots in the path...)

[2017-11-02 16:17] nmahoney-pivotal commented on #1566
@rshriram @ayj Thanks for the feedback! We've gone with option 1 for now. Let us know if we should change that decision.

[2017-11-02 23:14] ldemailly commented on #1639
we should probably consolidate the various 404/503 open issues and move this to istio/istio

https://github.com/istio/istio/issues/1038
https://github.com/istio/istio/pull/1041
https://github.com/istio/old_pilot_repo/issues/1422

[2017-11-03 00:18] costinm commented on #1639
Thanks Shriram, I see the problem.

I'll start a doc - there are few relatively simple options on how to push
clusters before routes (or ensure cluster stability when route rules are
changed), but may require small
extensions/adjustments to the API.
The current weight rules don't work on 'mesh expansion' ( no labels ) - I
was not familiar with how it is implemented, but at least one of the
options

[2017-11-03 00:25] kyessenov commented on #1639
Why would you _not_ have labels on VMs? k8s, consul, eureka and whatnot all have labels on workloads. An API change is a drastic measure to fix this problem. The actual solution will happen in v2 library under envoy org, once we work out the ADS protocol. This is the solution that will scale, be backwards/future compatible, and fix all the other "inconsistency" issues that are possible with v1. On

[2017-11-03 01:56] arief-hidayat commented on #925
Thanks @prune998 for your info.

My previous config was

[code]

I removed the path and it works now.
[code]

Thanks again

[2017-11-03 02:13] costinm commented on #1639
On Thu, Nov 2, 2017 at 5:25 PM, Kuat <notifications@github.com> wrote:

Well - hard to answer this question, non-orchestrated workloads don't have
a lot of other things, they're simply
processes running on some machines. That's how things work.

Even if they did have labels - it's not clear this model can work with
non-flat networks or if it can scale in the hybrid
model, or if all orchestration s

[2017-11-03 02:29] kyessenov commented on #1639
I'll be happy to hear concrete proposals :) in the meantime I'm investing
in building v2 implementation. It will be a separate decision how to
reconcile the two approaches.

On Thu, Nov 2, 2017, 7:13 PM Costin Manolache <notifications@github.com>
wrote:

[2017-11-03 05:21] rshriram commented on #1405
hi.. please look at istio/istio. We have moved all code to istio/istio. Additionally we have added support for pure go build.

[2017-11-03 05:23] kadamvandita commented on #1405
Hi @rshriram ,

Any updates on the build instructions to be used? shd we use make setup or something else

[2017-11-03 09:28] sebastienvas commented on #1135
resolved by the mono repo.

[2017-11-03 09:28] #1135 closed

[2017-11-03 11:25] prune998 commented on #925
@rshriram I really think there is an issue here. Also, this should be documented in the meantime.

Should we move this issue in the new istio repo ?

[2017-11-03 22:13] kyessenov commented on #1186
Issue moved to [istio/istio #1356](https://github.com/istio/istio/issues/1356) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:13] #1186 closed

[2017-11-03 22:15] #1277 closed

[2017-11-03 22:15] kyessenov commented on #1277
Issue moved to [istio/istio #1357](https://github.com/istio/istio/issues/1357) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:16] #1338 closed

[2017-11-03 22:16] kyessenov commented on #1338
Issue moved to [istio/istio #1358](https://github.com/istio/istio/issues/1358) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:16] kyessenov commented on #1439
Issue moved to [istio/istio #1359](https://github.com/istio/istio/issues/1359) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:16] #1439 closed

[2017-11-03 22:17] #1613 closed

[2017-11-03 22:17] kyessenov commented on #1613
Issue moved to [istio/istio #1360](https://github.com/istio/istio/issues/1360) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:19] #1625 closed

[2017-11-03 22:19] kyessenov commented on #1625
Issue moved to [istio/istio #1361](https://github.com/istio/istio/issues/1361) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:19] kyessenov commented on #1625
Issue moved to [istio/istio #1362](https://github.com/istio/istio/issues/1362) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:20] #1640 closed

[2017-11-03 22:20] kyessenov commented on #1640
Issue moved to [istio/istio #1363](https://github.com/istio/istio/issues/1363) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:21] #1234 closed

[2017-11-03 22:21] kyessenov commented on #1234
Issue moved to [istio/istio #1364](https://github.com/istio/istio/issues/1364) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:22] #335 closed

[2017-11-03 22:22] kyessenov commented on #335
Issue moved to [istio/istio #1365](https://github.com/istio/istio/issues/1365) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:23] #1302 closed

[2017-11-03 22:23] kyessenov commented on #1302
Issue moved to [istio/istio #1366](https://github.com/istio/istio/issues/1366) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:23] #1370 closed

[2017-11-03 22:23] kyessenov commented on #1370
Issue moved to [istio/istio #1367](https://github.com/istio/istio/issues/1367) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:23] #1663 closed

[2017-11-03 22:24] kyessenov commented on #1663
Issue moved to [istio/istio #1368](https://github.com/istio/istio/issues/1368) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:24] kyessenov commented on #1641
Issue moved to [istio/istio #1369](https://github.com/istio/istio/issues/1369) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:24] #1641 closed

[2017-11-03 22:24] #1639 closed

[2017-11-03 22:24] kyessenov commented on #1639
Issue moved to [istio/istio #1370](https://github.com/istio/istio/issues/1370) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:25] kyessenov commented on #1566
Issue moved to [istio/istio #1371](https://github.com/istio/istio/issues/1371) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:25] #1566 closed

[2017-11-03 22:25] #1622 closed

[2017-11-03 22:25] kyessenov commented on #1622
Issue moved to [istio/istio #1372](https://github.com/istio/istio/issues/1372) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:26] #1253 closed

[2017-11-03 22:26] kyessenov commented on #1253
Issue moved to [istio/istio #1373](https://github.com/istio/istio/issues/1373) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:26] #1378 closed

[2017-11-03 22:26] kyessenov commented on #1378
Issue moved to [istio/istio #1374](https://github.com/istio/istio/issues/1374) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:27] #1389 closed

[2017-11-03 22:27] kyessenov commented on #1389
Issue moved to [istio/istio #1375](https://github.com/istio/istio/issues/1375) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:27] #1405 closed

[2017-11-03 22:27] kyessenov commented on #1405
Issue moved to [istio/istio #1376](https://github.com/istio/istio/issues/1376) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:27] kyessenov commented on #1512
Issue moved to [istio/istio #1377](https://github.com/istio/istio/issues/1377) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:27] #1512 closed

[2017-11-03 22:27] #1557 closed

[2017-11-03 22:27] kyessenov commented on #1557
Issue moved to [istio/istio #1378](https://github.com/istio/istio/issues/1378) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:29] #1457 closed

[2017-11-03 22:29] kyessenov commented on #1457
Issue moved to [istio/istio #1379](https://github.com/istio/istio/issues/1379) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:29] kyessenov commented on #1498
Issue moved to [istio/istio #1380](https://github.com/istio/istio/issues/1380) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:29] #1498 closed

[2017-11-03 22:30] #1478 closed

[2017-11-03 22:30] kyessenov commented on #1478
Issue moved to [istio/istio #1381](https://github.com/istio/istio/issues/1381) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:30] #1477 closed

[2017-11-03 22:30] kyessenov commented on #1477
Issue moved to [istio/istio #1382](https://github.com/istio/istio/issues/1382) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:30] #1392 closed

[2017-11-03 22:30] kyessenov commented on #1392
Issue moved to [istio/istio #1383](https://github.com/istio/istio/issues/1383) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:31] kyessenov commented on #1300
Issue moved to [istio/istio #1384](https://github.com/istio/istio/issues/1384) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:31] #1300 closed

[2017-11-03 22:31] #1140 closed

[2017-11-03 22:31] kyessenov commented on #1140
Issue moved to [istio/istio #1385](https://github.com/istio/istio/issues/1385) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:32] #1021 closed

[2017-11-03 22:32] kyessenov commented on #1021
Issue moved to [istio/istio #1387](https://github.com/istio/istio/issues/1387) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:32] #1126 closed

[2017-11-03 22:32] kyessenov commented on #1126
Issue moved to [istio/istio #1388](https://github.com/istio/istio/issues/1388) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:32] kyessenov commented on #1095
Issue moved to [istio/istio #1389](https://github.com/istio/istio/issues/1389) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:32] #1095 closed

[2017-11-03 22:33] #1129 closed

[2017-11-03 22:33] kyessenov commented on #1129
Issue moved to [istio/istio #1390](https://github.com/istio/istio/issues/1390) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:33] #1109 closed

[2017-11-03 22:33] kyessenov commented on #1109
Issue moved to [istio/istio #1391](https://github.com/istio/istio/issues/1391) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:34] kyessenov commented on #1020
Issue moved to [istio/istio #1392](https://github.com/istio/istio/issues/1392) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:34] #1020 closed

[2017-11-03 22:34] #968 closed

[2017-11-03 22:34] kyessenov commented on #968
Issue moved to [istio/istio #1393](https://github.com/istio/istio/issues/1393) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:34] #1108 closed

[2017-11-03 22:34] kyessenov commented on #1108
Issue moved to [istio/istio #1394](https://github.com/istio/istio/issues/1394) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:34] #1028 closed

[2017-11-03 22:34] kyessenov commented on #1028
Issue moved to [istio/istio #1395](https://github.com/istio/istio/issues/1395) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:35] kyessenov commented on #883
Issue moved to [istio/istio #1396](https://github.com/istio/istio/issues/1396) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:35] #883 closed

[2017-11-03 22:36] kyessenov commented on #1043
Issue moved to [istio/istio #1397](https://github.com/istio/istio/issues/1397) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:36] #1043 closed

[2017-11-03 22:36] kyessenov commented on #1026
Issue moved to [istio/istio #1398](https://github.com/istio/istio/issues/1398) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:36] #1026 closed

[2017-11-03 22:36] #888 closed

[2017-11-03 22:36] kyessenov commented on #888
Issue moved to [istio/istio #1399](https://github.com/istio/istio/issues/1399) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:36] #887 closed

[2017-11-03 22:37] kyessenov commented on #887
Issue moved to [istio/istio #1400](https://github.com/istio/istio/issues/1400) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:37] kyessenov commented on #1088
Issue moved to [istio/istio #1401](https://github.com/istio/istio/issues/1401) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:37] #1088 closed

[2017-11-03 22:37] kyessenov commented on #905
Issue moved to [istio/istio #1402](https://github.com/istio/istio/issues/1402) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:37] #905 closed

[2017-11-03 22:37] kyessenov commented on #808
Issue moved to [istio/istio #1403](https://github.com/istio/istio/issues/1403) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:37] #808 closed

[2017-11-03 22:38] kyessenov commented on #908
Issue moved to [istio/istio #1404](https://github.com/istio/istio/issues/1404) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:38] #908 closed

[2017-11-03 22:38] kyessenov commented on #1196
Issue moved to [istio/istio #1406](https://github.com/istio/istio/issues/1406) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:38] #1196 closed

[2017-11-03 22:38] #1055 closed

[2017-11-03 22:38] kyessenov commented on #1055
Issue moved to [istio/istio #1407](https://github.com/istio/istio/issues/1407) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:38] #869 closed

[2017-11-03 22:39] kyessenov commented on #869
Issue moved to [istio/istio #1408](https://github.com/istio/istio/issues/1408) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:40] #969 closed

[2017-11-03 22:40] kyessenov commented on #969
Issue moved to [istio/istio #1409](https://github.com/istio/istio/issues/1409) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:40] #1044 closed

[2017-11-03 22:40] kyessenov commented on #1044
Issue moved to [istio/istio #1410](https://github.com/istio/istio/issues/1410) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:40] #1133 closed

[2017-11-03 22:40] kyessenov commented on #1133
Issue moved to [istio/istio #1411](https://github.com/istio/istio/issues/1411) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:40] #1053 closed

[2017-11-03 22:40] kyessenov commented on #1053
Issue moved to [istio/istio #1412](https://github.com/istio/istio/issues/1412) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:40] kyessenov commented on #747
Issue moved to [istio/istio #1413](https://github.com/istio/istio/issues/1413) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:40] #747 closed

[2017-11-03 22:41] #731 closed

[2017-11-03 22:41] kyessenov commented on #731
Issue moved to [istio/istio #1414](https://github.com/istio/istio/issues/1414) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:41] #928 closed

[2017-11-03 22:41] kyessenov commented on #928
Issue moved to [istio/istio #1415](https://github.com/istio/istio/issues/1415) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:41] #730 closed

[2017-11-03 22:41] kyessenov commented on #730
Issue moved to [istio/istio #1416](https://github.com/istio/istio/issues/1416) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:42] kyessenov commented on #608
Issue moved to [istio/istio #1417](https://github.com/istio/istio/issues/1417) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:42] #608 closed

[2017-11-03 22:42] #1061 closed

[2017-11-03 22:42] kyessenov commented on #1061
Issue moved to [istio/istio #1418](https://github.com/istio/istio/issues/1418) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:42] #548 closed

[2017-11-03 22:42] kyessenov commented on #548
Issue moved to [istio/istio #1419](https://github.com/istio/istio/issues/1419) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:43] #551 closed

[2017-11-03 22:43] kyessenov commented on #551
Issue moved to [istio/istio #1420](https://github.com/istio/istio/issues/1420) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:43] #533 closed

[2017-11-03 22:43] kyessenov commented on #533
Issue moved to [istio/istio #1421](https://github.com/istio/istio/issues/1421) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:43] #1015 closed

[2017-11-03 22:43] kyessenov commented on #1015
Issue moved to [istio/istio #1422](https://github.com/istio/istio/issues/1422) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:44] #501 closed

[2017-11-03 22:44] kyessenov commented on #501
Issue moved to [istio/istio #1423](https://github.com/istio/istio/issues/1423) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:44] #484 closed

[2017-11-03 22:44] kyessenov commented on #484
Issue moved to [istio/istio #1424](https://github.com/istio/istio/issues/1424) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:44] #233 closed

[2017-11-03 22:44] kyessenov commented on #233
Issue moved to [istio/istio #1425](https://github.com/istio/istio/issues/1425) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:45] #237 closed

[2017-11-03 22:45] kyessenov commented on #237
Issue moved to [istio/istio #1426](https://github.com/istio/istio/issues/1426) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:46] #59 closed

[2017-11-03 22:46] kyessenov commented on #59
Issue moved to [istio/istio #1427](https://github.com/istio/istio/issues/1427) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:46] #182 closed

[2017-11-03 22:46] kyessenov commented on #182
Issue moved to [istio/istio #1428](https://github.com/istio/istio/issues/1428) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:48] #309 closed

[2017-11-03 22:48] kyessenov commented on #309
Issue moved to [istio/istio #1429](https://github.com/istio/istio/issues/1429) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:48] #62 closed

[2017-11-03 22:48] kyessenov commented on #62
Issue moved to [istio/istio #1430](https://github.com/istio/istio/issues/1430) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:48] #333 closed

[2017-11-03 22:48] kyessenov commented on #333
Issue moved to [istio/istio #1431](https://github.com/istio/istio/issues/1431) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:49] kyessenov commented on #824
Issue moved to [istio/istio #1432](https://github.com/istio/istio/issues/1432) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:49] #824 closed

[2017-11-03 22:49] #769 closed

[2017-11-03 22:49] kyessenov commented on #769
Issue moved to [istio/istio #1433](https://github.com/istio/istio/issues/1433) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:49] #821 closed

[2017-11-03 22:49] kyessenov commented on #821
Issue moved to [istio/istio #1434](https://github.com/istio/istio/issues/1434) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:49] #983 closed

[2017-11-03 22:49] kyessenov commented on #983
Issue moved to [istio/istio #1435](https://github.com/istio/istio/issues/1435) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:50] kyessenov commented on #977
Issue moved to [istio/istio #1436](https://github.com/istio/istio/issues/1436) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:50] #977 closed

[2017-11-03 22:50] kyessenov commented on #926
Issue moved to [istio/istio #1437](https://github.com/istio/istio/issues/1437) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:50] #926 closed

[2017-11-03 22:50] #805 closed

[2017-11-03 22:50] kyessenov commented on #805
Issue moved to [istio/istio #1438](https://github.com/istio/istio/issues/1438) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:50] #903 closed

[2017-11-03 22:50] kyessenov commented on #903
Issue moved to [istio/istio #1440](https://github.com/istio/istio/issues/1440) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:51] kyessenov commented on #957
Issue moved to [istio/istio #1441](https://github.com/istio/istio/issues/1441) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:51] #957 closed

[2017-11-03 22:51] kyessenov commented on #798
Issue moved to [istio/istio #1442](https://github.com/istio/istio/issues/1442) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:51] #798 closed

[2017-11-03 22:51] #962 closed

[2017-11-03 22:51] kyessenov commented on #962
Issue moved to [istio/istio #1444](https://github.com/istio/istio/issues/1444) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:51] kyessenov commented on #992
Issue moved to [istio/istio #1445](https://github.com/istio/istio/issues/1445) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:51] #992 closed

[2017-11-03 22:52] kyessenov commented on #1124
Issue moved to [istio/istio #1447](https://github.com/istio/istio/issues/1447) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:52] #1124 closed

[2017-11-03 22:52] #1125 closed

[2017-11-03 22:52] kyessenov commented on #1125
Issue moved to [istio/istio #1448](https://github.com/istio/istio/issues/1448) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:52] kyessenov commented on #1143
Issue moved to [istio/istio #1449](https://github.com/istio/istio/issues/1449) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:52] #1143 closed

[2017-11-03 22:52] kyessenov commented on #1147
Issue moved to [istio/istio #1450](https://github.com/istio/istio/issues/1450) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:52] #1147 closed

[2017-11-03 22:53] #1167 closed

[2017-11-03 22:53] kyessenov commented on #1167
Issue moved to [istio/istio #1451](https://github.com/istio/istio/issues/1451) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:53] #1218 closed

[2017-11-03 22:53] kyessenov commented on #1218
Issue moved to [istio/istio #1452](https://github.com/istio/istio/issues/1452) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:53] kyessenov commented on #1232
Issue moved to [istio/istio #1454](https://github.com/istio/istio/issues/1454) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:53] #1232 closed

[2017-11-03 22:53] #1233 closed

[2017-11-03 22:53] kyessenov commented on #1233
Issue moved to [istio/istio #1455](https://github.com/istio/istio/issues/1455) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:53] #1320 closed

[2017-11-03 22:53] kyessenov commented on #1320
Issue moved to [istio/istio #1456](https://github.com/istio/istio/issues/1456) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:54] kyessenov commented on #1367
Issue moved to [istio/istio #1457](https://github.com/istio/istio/issues/1457) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:54] #1367 closed

[2017-11-03 22:54] #1423 closed

[2017-11-03 22:54] kyessenov commented on #1423
Issue moved to [istio/istio #1458](https://github.com/istio/istio/issues/1458) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:54] kyessenov commented on #1250
Issue moved to [istio/istio #1459](https://github.com/istio/istio/issues/1459) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:54] #1250 closed

[2017-11-03 22:54] kyessenov commented on #1463
Issue moved to [istio/istio #1460](https://github.com/istio/istio/issues/1460) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:54] #1463 closed

[2017-11-03 22:55] #1054 closed

[2017-11-03 22:55] kyessenov commented on #1054
Issue moved to [istio/istio #1461](https://github.com/istio/istio/issues/1461) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:55] #978 closed

[2017-11-03 22:55] kyessenov commented on #978
Issue moved to [istio/istio #1462](https://github.com/istio/istio/issues/1462) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:55] #1475 closed

[2017-11-03 22:55] kyessenov commented on #1475
Issue moved to [istio/istio #1463](https://github.com/istio/istio/issues/1463) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:56] kyessenov commented on #1474
Issue moved to [istio/istio #1464](https://github.com/istio/istio/issues/1464) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:56] #1474 closed

[2017-11-03 22:56] kyessenov commented on #1458
Issue moved to [istio/istio #1466](https://github.com/istio/istio/issues/1466) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:56] #1458 closed

[2017-11-03 22:56] #1429 closed

[2017-11-03 22:56] kyessenov commented on #1429
Issue moved to [istio/istio #1467](https://github.com/istio/istio/issues/1467) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:56] #1428 closed

[2017-11-03 22:56] kyessenov commented on #1428
Issue moved to [istio/istio #1468](https://github.com/istio/istio/issues/1468) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1427 closed

[2017-11-03 22:57] kyessenov commented on #1427
Issue moved to [istio/istio #1469](https://github.com/istio/istio/issues/1469) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1426 closed

[2017-11-03 22:57] kyessenov commented on #1426
Issue moved to [istio/istio #1470](https://github.com/istio/istio/issues/1470) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1422 closed

[2017-11-03 22:57] kyessenov commented on #1422
Issue moved to [istio/istio #1471](https://github.com/istio/istio/issues/1471) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] kyessenov commented on #1421
Issue moved to [istio/istio #1472](https://github.com/istio/istio/issues/1472) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1421 closed

[2017-11-03 22:57] #1420 closed

[2017-11-03 22:57] kyessenov commented on #1420
Issue moved to [istio/istio #1473](https://github.com/istio/istio/issues/1473) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] kyessenov commented on #1419
Issue moved to [istio/istio #1474](https://github.com/istio/istio/issues/1474) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1419 closed

[2017-11-03 22:57] #1418 closed

[2017-11-03 22:57] kyessenov commented on #1418
Issue moved to [istio/istio #1475](https://github.com/istio/istio/issues/1475) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1417 closed

[2017-11-03 22:57] kyessenov commented on #1417
Issue moved to [istio/istio #1476](https://github.com/istio/istio/issues/1476) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1416 closed

[2017-11-03 22:57] kyessenov commented on #1416
Issue moved to [istio/istio #1477](https://github.com/istio/istio/issues/1477) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:57] #1413 closed

[2017-11-03 22:57] kyessenov commented on #1413
Issue moved to [istio/istio #1478](https://github.com/istio/istio/issues/1478) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] kyessenov commented on #1412
Issue moved to [istio/istio #1479](https://github.com/istio/istio/issues/1479) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] #1412 closed

[2017-11-03 22:58] #1375 closed

[2017-11-03 22:58] kyessenov commented on #1375
Issue moved to [istio/istio #1480](https://github.com/istio/istio/issues/1480) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] #1315 closed

[2017-11-03 22:58] kyessenov commented on #1315
Issue moved to [istio/istio #1481](https://github.com/istio/istio/issues/1481) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] #1312 closed

[2017-11-03 22:58] kyessenov commented on #1312
Issue moved to [istio/istio #1482](https://github.com/istio/istio/issues/1482) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] #1257 closed

[2017-11-03 22:58] kyessenov commented on #1257
Issue moved to [istio/istio #1483](https://github.com/istio/istio/issues/1483) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] #1237 closed

[2017-11-03 22:58] kyessenov commented on #1237
Issue moved to [istio/istio #1484](https://github.com/istio/istio/issues/1484) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] kyessenov commented on #292
Issue moved to [istio/istio #1485](https://github.com/istio/istio/issues/1485) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:58] #292 closed

[2017-11-03 22:59] kyessenov commented on #1414
Issue moved to [istio/istio #1486](https://github.com/istio/istio/issues/1486) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 22:59] #1414 closed

[2017-11-09 04:42] kadamvandita commented on #1405
Hi @rshriram ,

In the latest stable release of istio 0.2.12, pilot source code is not present. Even if we try to build istio from top level workspace it throws the syntactical libs error. Any updates on this?

[2017-11-09 05:20] rshriram commented on #1405
Hi, all code has moved to istio/istio repo. And we now build with standard go tools (aka no Bazel!). just fetch the repo, do `dep ensure` (you need to install the dep tool ) and then go build!
You can find an example of how we build in the .circleci/config.yml file (unittest job).

[2017-11-09 05:32] kadamvandita commented on #1405
Hi @rshriram ,

On dep ensure I get error,could not find project Gopkg.toml, use dep init to initiate a manifest. On dep init, it downloads some file. Gets something.Then on go build it throws error, no go files found

[2017-11-09 06:00] rshriram commented on #1405
you need to run these in a clone of github.com/istio/istio repository. not in pilot

[2017-11-09 06:07] kadamvandita commented on #1405
yes..i am doing it in istio/istio repo. But can't find any .go files

[2017-11-09 06:11] kadamvandita commented on #1405
Steps I followed:

cd $GOPATH/src/istio.io/istio
git clone https://github.com/istio/istio.git
cd istio
git checkout 0.2.12
dep init
dep ensure
go build

Please let me know if anything is wrong or missing

[2017-11-09 06:42] kadamvandita commented on #1405
Hi @rshriram ,

Please update the README file , that will be of help in case of build instruction.

[2017-11-14 21:22] jsenon commented on #1470
Still exist on 0.2.10 for me. Nevertheless if you don't want to use istio inject you can add
[code]

[2017-11-22 13:07] roommush commented on #1392
I have the same problem.

[2017-11-26 23:45] craigbox commented on #809
For anyone who finds this message searching for "panic: cannot open shared memory region /envoy_shared_memory_0 check user permissions:"

When you start envoy as root, /dev/shm/envoy_shared_memory_0 is owned by root. When you try and start it again as a regular user, it won't be able to open that file and then it dies.

Delete the file and you can restart.

https://github.com/envoyproxy/envoy/issu

[2018-01-04 14:45] markvincze commented on #474
I see that the respective PR was merged, but it's not part of the `0.4.0` release.
Is there a way to get the liveness probe working already today?
Because it is not working for me with the `istio-proxy` container in place, and if I try to `curl` the liveness endpoint from one of the k8s nodes, I get a `404` from envoy:

[code]

(But if I do the same curl with `localhost` from inside the container,

[2018-01-05 04:57] asadali commented on #925
@prune998

Thank you so much for this nugget of information! It had been driving me mad. Although I got my ingress working, I will be interested in understanding why a Host field prevents the grpc request from being routed properly. Any thoughts?

Also, with this constraint of not being able to route based on host, what should be the recommended way to expose multiple grpc services within a cluste

[2018-01-05 05:23] asadali commented on #925
update: the host field seems to work as expected as well!

there is quite a bit of helpful discussion on https://github.com/istio/issues/issues/87#issuecomment-334887649

[2018-02-01 00:57] leecalcote commented on #400
@kyessenov does Istio deployments of Envoy still have an agent embedded in the same container as the service proxy?

[2018-02-01 01:04] kyessenov commented on #400
Yes it has the same agent in the latest release.

On Wed, Jan 31, 2018, 4:57 PM Lee Calcote <notifications@github.com> wrote:

[2018-02-01 01:05] leecalcote commented on #400
Got it. Thank you, @kyessenov!

[2018-02-01 14:34] nmnellis commented on #895
I am running istio 0.4.0 and we are noticing this exact behavior. Though some of the route rules will work for a while(until another update is made) and then they wont work anymore and others will work. We are only noticing this issue with ingress controller. sidecars do not appear to have this issue.

example ingress
[code]
Example route rule
[code]
response from app1 `http://example.com/app1/inf

[2018-02-01 16:01] frankbu commented on #895
@nmnellis Your problem sounds like a new issue. This one was a simple bug in the the ingress controller where route rule `match` was always failing at ingress. I'd suggest opening a new issue, since this one is closed and won't get anybody's attention.

[2018-04-20 03:08] ljltongji opened #1685 "How to access the external services when istio with sidecar injected."

[2018-04-20 03:29] vadimeisenbergibm commented on #1685
Please note that this repository is obsolete, the new Istio repository is  https://github.com/istio/istio.

Regarding accessing external services, please see these tasks:
https://istio.io/docs/tasks/traffic-management/egress.html
https://istio.io/docs/tasks/traffic-management/egress-tcp.html

You may also want to read blogs about it:
https://istio.io/blog/2018/egress-https.html
https://istio.io/bl

[2018-04-25 11:57] soleil0-0 commented on #925
@sayedasadali i just test it. host field doesn't work in istio 0.7.1  right now.

[2018-04-25 12:23] prune998 commented on #925
@qband could you please provide your ingress config ?
Sounds mine is working with Istio 0.7.1 with something like :

[code]